# Table of contents

[Demographical data from Frankfurt](#demographical_frankfurt)

[Mean income Frankfurt](#income_frankfurt)

[Income by german regions](#income_german_regions)

[School graduates in Hessen](#school_graduates_hessen)

[Germany-wide data](#germany_data)

In [116]:
import pandas as pd
import numpy as np
import re
import getpass
import mysql.connector
from sqlalchemy import create_engine

<a id='demographical_frankfurt'></a>
# Dataset: demographical data from each neighbourhood in Frankfurt (2020)

In [117]:
city_df = pd.read_excel('Stadtteilprofile_FFM_processed.xlsx')
city_df.head(50)

,Codes,Neighbourhood,Inhabitants,Average age,Inhabitants up to 17 years in %.,Inhabitants from 18 to 64 years in %.,Inhabitants from 65 years in %,Foreigners in %,Germans with migration background in %,Population development (5-year comparison),Households,Single-person households in %,Families with children in %,Pupils at general education schools,Proportion of students transferring from elementary school to high school,Employment density,Unemployment density,Social benefits,Attendance rate of children aged 0 to under 3 years in day care centers,Attendance rate of children aged 3 to under 6 in daycare facilities
0,1,Altstadt,4255,42.4,11.891892,72.502938,15.605170,36.451234,23.454759,8.077216,2723,64.083731,12.302607,0,0.0,59.6,5.8,121.0,64.035088,63.302752
1,2,Innenstadt,6550,41.4,8.870229,76.870229,14.259542,45.541985,19.267176,-4.754980,4491,69.338677,8.082832,720,67.2,62.4,5.1,144.7,65.853659,128.225806
2,3,Bahnhofsviertel,3703,37.7,8.209560,84.904132,6.886308,49.986497,14.474750,-5.390904,2530,70.355731,7.114625,328,41.4,60.7,7.0,207.1,108.695652,55.882353
3,4,Westend-SÃ¼d,19318,40.3,15.824620,69.650067,14.525313,27.290610,19.846775,8.430624,11500,58.686957,16.713043,3938,88.3,60.4,1.6,29.0,103.566334,193.278689
4,5,Westend-Nord,10330,39.1,16.379477,69.060987,14.559535,28.789932,24.646660,4.396160,5881,54.939636,17.377997,2408,87.4,55.8,2.5,78.5,31.609195,105.937500
5,6,Nordend-West,30975,40.6,14.640839,71.212268,14.146893,21.352704,18.673123,2.261472,18663,59.861759,15.608423,4071,74.5,63.7,2.3,47.5,41.950322,84.872979
6,7,Nordend-Ost,23135,41.2,13.032202,72.854982,14.112816,22.260644,18.517398,0.670119,14700,63.843537,13.931973,1164,54.2,64.6,2.8,72.9,31.444759,100.546448
7,8,Ostend,29704,41.9,12.782790,71.677215,15.539995,28.534877,21.535820,7.029871,18157,60.549650,13.697197,4116,69.4,64.0,3.6,95.0,55.714286,118.598383
8,9,Bornheim,30761,43.0,14.069764,68.066708,17.863528,23.776860,22.232697,1.648933,18862,62.268052,14.982505,1189,49.7,63.4,3.5,106.3,37.430168,75.126263
9,10,Gutleutviertel,6786,41.5,10.727969,75.213675,14.058355,42.381373,18.464486,-2.401841,4312,65.051020,10.111317,185,0.0,60.5,8.1,188.0,16.915423,72.392638
10,11,Gallus,42012,36.9,16.571456,74.028849,9.399695,40.636009,26.175855,15.853625,23177,53.846486,18.371662,2505,44.6,62.3,4.3,150.1,36.725664,84.450785
11,12,Bockenheim,42140,38.6,15.569530,72.781206,11.649264,33.151400,22.289986,10.086470,24353,56.929331,16.991746,3578,59.4,62.1,3.2,104.2,47.311828,113.023256
12,13,Sachsenhausen-Nord,32824,40.5,15.382038,70.686083,13.931879,24.549110,21.085182,3.187677,19212,57.890902,16.817614,5526,68.2,63.3,2.8,83.3,48.336252,99.893955
13,14,Sachsenhausen-SÃ¼d und Flughafen,29163,43.7,14.466962,65.322498,20.210541,24.270480,20.916915,7.947142,16698,54.755060,16.199545,429,77.3,61.3,2.4,63.7,32.301342,76.136364
14,16,Oberrad,13648,42.7,15.438159,66.427315,18.134525,33.733880,24.267292,4.127565,7582,54.484305,16.855711,399,41.6,59.0,7.4,165.2,23.291139,62.280702
15,17,Niederrad,27043,39.9,14.987243,70.273268,14.739489,36.242281,23.592057,11.729466,15182,54.143064,16.565670,1726,50.3,62.8,5.6,127.6,34.821429,73.663625
16,18,Schwanheim,20576,43.0,18.861781,61.056571,20.081649,24.616058,28.975505,-0.194024,9976,44.466720,22.072975,1915,36.9,57.6,7.1,151.2,34.838710,92.469880
17,19,Griesheim,23569,40.4,17.298146,68.407654,14.294200,42.292842,27.497985,-0.962266,12211,52.002293,18.737204,1374,27.7,62.4,7.5,167.4,26.538988,84.165478
18,20,RÃ¶delheim,19253,40.9,16.968784,67.184335,15.846881,33.729808,22.038124,6.546763,10441,53.069629,18.647639,1304,31.4,61.7,6.1,135.4,29.675425,94.903339
19,21,Hausen,7349,41.3,18.124915,63.777385,18.097700,34.576133,28.616138,-0.447033,3760,47.340426,20.159574,315,58.7,52.8,5.8,122.7,24.226804,53.600000
20,22,Praunheim,16729,43.1,18.560583,60.798613,20.640803,28.106880,26.726045,4.094331,8509,47.667176,21.212833,2868,71.2,56.6,6.0,129.2,18.871595,48.630137
21,24,Heddernheim,17073,42.6,18.157324,63.328062,18.514614,25.057108,28.389855,-0.338568,8755,47.732724,21.073672,1130,34.6,57.0,5.7,152.3,26.530612,106.082290
22,25,Niederursel,16611,42.1,18.975378,62.013124,19.011498,29.847691,30.245018,5.486759,8206,45.673897,22.532293,2517,32.0,53.7,5.8,149.2,52.427184,104.606526
23,26,Ginnheim,16826,41.4,18.162368,65.262094,16.575538,26.054915,31.308689,1.014588,8427,47.834342,21.526047,377,56.6,56.8,5.8,139.2,34.361233,65.877712
24,27,Dornbusch,18715,43.9,15.778787,63.232701,20.988512,22.249532,23.964734,1.386857,10546,55.025602,17.276693,3826,68.4,59.5,3.6,75.4,46.011132,118.997912
25,28,Eschersheim,15323,42.5,16.334921,65.731254,17.933825,21.829929,21.712458,2.522414,8521,54.488910,17.955639,2548,56.0,59.8,4.4,83.5,25.477707,78.009259
26,29,Eckenheim,14405,42.4,16.653940,65.005207,18.340854,29.878514,29.170427,-0.586611,7874,53.721107,18.237236,612,27.9,56.3,6.5,170.2,43.572985,85.822785
27,30,Preungesheim,15775,40.0,20.690967,65.331220,13.977813,28.405705,28.805071,4.497880,7646,45.997907,25.372744,944,44.2,58.5,5.0,118.8,43.911439,105.175601
28,31,Bonames,6450,43.3,17.364341,63.178295,19.457364,28.728682,30.449612,1.783178,3288,47.019465,19.464720,311,45.3,56.7,6.6,167.8,40.659341,108.256881
29,32,Berkersheim,3881,40.2,22.829168,61.504767,15.666065,21.205875,29.708838,1.596859,1678,37.723480,28.963051,236,63.6,53.5,5.3,139.1,10.576923,69.172932
30,33,Riederwald,5000,42.3,18.820000,63.020000,18.160000,29.020000,27.020000,7.991361,2728,54.178886,20.234604,0,0.0,58.0,8.3,211.6,50.273224,82.386364
31,34,Seckbach,10473,44.0,17.148859,62.007066,20.844075,29.237086,20.423947,-0.285633,5523,50.570342,18.848452,1068,55.9,58.5,6.7,145.5,16.118421,76.521739
32,35,Fechenheim,17843,39.8,19.699602,65.902595,14.397803,44.006053,26.514600,4.792389,8920,49.473094,21.928251,2388,35.0,54.0,9.6,222.6,20.731707,75.450082
33,36,HÃ¶chst,16103,38.0,19.232441,69.881389,10.886170,41.526424,26.647209,3.682957,8174,50.318082,21.641791,4975,42.7,57.7,8.5,197.8,32.998325,99.015748
34,37,Nied,19785,41.6,17.710387,65.544604,16.745009,37.836745,27.404599,1.995051,10009,47.637127,20.751324,932,39.2,57.1,7.4,169.4,29.153605,82.260372
35,38,Sindlingen,9095,41.2,18.735569,64.398021,16.866410,33.512919,27.509621,-1.611856,4654,50.300817,20.691878,522,28.8,59.2,7.3,166.8,64.630225,115.032680
36,39,Zeilsheim,12515,41.1,21.358370,60.799041,17.842589,31.250499,27.582901,1.336032,5923,42.849907,25.122404,573,37.3,57.6,7.6,170.4,20.824295,77.642276
37,40,Unterliederbach,17151,39.6,20.809282,64.416069,14.774649,32.820244,28.517288,6.257357,8207,44.717924,24.625320,1096,42.6,58.7,6.7,146.6,19.841270,62.411348
38,41,Sossenheim,16175,40.7,19.536321,64.074189,16.389490,37.125193,30.268934,0.006183,7890,46.058302,22.446134,826,31.5,56.2,8.6,212.7,20.634921,84.163701
39,42,Nieder-Erlenbach,4686,44.3,19.035425,60.883483,20.081093,13.764405,15.578318,0.644330,2229,39.569314,23.956931,207,77.8,59.9,3.0,58.5,40.000000,100.769231
40,43,Kalbach-Riedberg,22170,35.7,26.147948,64.799278,9.052774,23.635544,29.801534,34.136012,9028,29.198051,38.336287,3062,79.5,58.0,2.7,42.0,33.660451,76.806423
41,44,Harheim,5294,41.0,22.062713,61.220249,16.717038,16.150359,15.772573,11.711332,2376,37.121212,28.619529,245,57.9,61.8,2.8,58.6,24.873096,75.124378
42,45,Nieder-Eschbach,11462,43.1,17.998604,62.214273,19.787123,23.957425,30.797418,-0.581143,5651,45.248629,20.810476,1685,47.5,56.4,5.4,148.5,25.227964,64.425770
43,46,Bergen-Enkheim,17988,44.8,16.483211,61.624416,21.892373,20.102290,20.358016,0.418690,9248,46.128893,19.744810,1913,64.2,59.7,4.4,75.1,21.845574,82.567050
44,47,Frankfurter Berg,8225,40.7,20.571429,64.838906,14.589666,27.343465,31.671733,0.969801,3625,37.517241,26.565517,482,49.1,56.5,5.5,138.5,49.603175,118.750000
45,#Frankfurt,Frankfurt am Main,758847,41.0,16.884168,67.380513,15.735320,29.977848,24.583875,4.742811,412046,53.029031,18.759313,72533,54.2,60.1,5.6,123.0,37.564777,90.120821

In [118]:
city_df = city_df.drop(columns='Codes') #droping unnecessary column

In [119]:
city_df.columns = city_df.columns.str.lower().str.replace(' ','_') # column names according to style guide
city_df.head()

,neighbourhood,inhabitants,average_age,inhabitants_up_to_17_years_in_%.,inhabitants_from_18_to_64_years_in_%.,inhabitants_from_65_years_in_%,foreigners_in_%,germans_with_migration_background_in_%,population_development_(5-year_comparison),households,single-person_households_in_%,families_with_children_in_%,pupils_at_general_education_schools,proportion_of_students_transferring_from_elementary_school_to_high_school,employment_density,unemployment_density,social_benefits,attendance_rate_of_children_aged_0_to_under_3_years_in_day_care_centers,attendance_rate_of_children_aged_3_to_under_6_in_daycare_facilities
0,Altstadt,4255,42.4,11.891892,72.502938,15.605170,36.451234,23.454759,8.077216,2723,64.083731,12.302607,0,0.0,59.6,5.8,121.0,64.035088,63.302752
1,Innenstadt,6550,41.4,8.870229,76.870229,14.259542,45.541985,19.267176,-4.754980,4491,69.338677,8.082832,720,67.2,62.4,5.1,144.7,65.853659,128.225806
2,Bahnhofsviertel,3703,37.7,8.209560,84.904132,6.886308,49.986497,14.474750,-5.390904,2530,70.355731,7.114625,328,41.4,60.7,7.0,207.1,108.695652,55.882353
3,Westend-SÃ¼d,19318,40.3,15.824620,69.650067,14.525313,27.290610,19.846775,8.430624,11500,58.686957,16.713043,3938,88.3,60.4,1.6,29.0,103.566334,193.278689
4,Westend-Nord,10330,39.1,16.379477,69.060987,14.559535,28.789932,24.646660,4.396160,5881,54.939636,17.377997,2408,87.4,55.8,2.5,78.5,31.609195,105.937500

In [120]:
# creating column to calculate the % of students without any migration background
city_df['germans_without_migration_background_in_%']=city_df.apply(lambda x: 100-x['foreigners_in_%']-x['germans_with_migration_background_in_%'],axis=1)
city_df.head()

,neighbourhood,inhabitants,average_age,inhabitants_up_to_17_years_in_%.,inhabitants_from_18_to_64_years_in_%.,inhabitants_from_65_years_in_%,foreigners_in_%,germans_with_migration_background_in_%,population_development_(5-year_comparison),households,single-person_households_in_%,families_with_children_in_%,pupils_at_general_education_schools,proportion_of_students_transferring_from_elementary_school_to_high_school,employment_density,unemployment_density,social_benefits,attendance_rate_of_children_aged_0_to_under_3_years_in_day_care_centers,attendance_rate_of_children_aged_3_to_under_6_in_daycare_facilities,germans_without_migration_background_in_%
0,Altstadt,4255,42.4,11.891892,72.502938,15.605170,36.451234,23.454759,8.077216,2723,64.083731,12.302607,0,0.0,59.6,5.8,121.0,64.035088,63.302752,40.094007
1,Innenstadt,6550,41.4,8.870229,76.870229,14.259542,45.541985,19.267176,-4.754980,4491,69.338677,8.082832,720,67.2,62.4,5.1,144.7,65.853659,128.225806,35.190840
2,Bahnhofsviertel,3703,37.7,8.209560,84.904132,6.886308,49.986497,14.474750,-5.390904,2530,70.355731,7.114625,328,41.4,60.7,7.0,207.1,108.695652,55.882353,35.538752
3,Westend-SÃ¼d,19318,40.3,15.824620,69.650067,14.525313,27.290610,19.846775,8.430624,11500,58.686957,16.713043,3938,88.3,60.4,1.6,29.0,103.566334,193.278689,52.862615
4,Westend-Nord,10330,39.1,16.379477,69.060987,14.559535,28.789932,24.646660,4.396160,5881,54.939636,17.377997,2408,87.4,55.8,2.5,78.5,31.609195,105.937500,46.563408

In [121]:
#renaming for more clarity
city_df = city_df.rename(columns={'proportion_of_students_transferring_from_elementary_school_to_high_school':'proportion_of_students_transferring_to_gymnasium'})

In [122]:
# reordering columns
cols = list(city_df.columns.values)
cols

['neighbourhood',
 'inhabitants',
 'average_age',
 'inhabitants_up_to_17_years_in_%.',
 'inhabitants_from_18_to_64_years_in_%.',
 'inhabitants_from_65_years_in_%',
 'foreigners_in_%',
 'germans_with_migration_background_in_%',
 'population_development_(5-year_comparison)',
 'households',
 'single-person_households_in_%',
 'families_with_children_in_%',
 'pupils_at_general_education_schools',
 'proportion_of_students_transferring_to_gymnasium',
 'employment_density',
 'unemployment_density',
 'social_benefits',
 'attendance_rate_of_children_aged_0_to_under_3_years_in_day_care_centers',
 'attendance_rate_of_children_aged_3_to_under_6_in_daycare_facilities',
 'germans_without_migration_background_in_%']

In [123]:
city_df = city_df[['neighbourhood',
 'inhabitants',
 'average_age',
 'inhabitants_up_to_17_years_in_%.',
 'inhabitants_from_18_to_64_years_in_%.',
 'inhabitants_from_65_years_in_%',
 'foreigners_in_%',
 'germans_with_migration_background_in_%',
 'germans_without_migration_background_in_%',
 'population_development_(5-year_comparison)',
 'households',
 'single-person_households_in_%',
 'families_with_children_in_%',
 'pupils_at_general_education_schools',
 'proportion_of_students_transferring_to_gymnasium',
 'employment_density',
 'unemployment_density',
 'social_benefits',
 'attendance_rate_of_children_aged_0_to_under_3_years_in_day_care_centers',
 'attendance_rate_of_children_aged_3_to_under_6_in_daycare_facilities']]
city_df.head()

,neighbourhood,inhabitants,average_age,inhabitants_up_to_17_years_in_%.,inhabitants_from_18_to_64_years_in_%.,inhabitants_from_65_years_in_%,foreigners_in_%,germans_with_migration_background_in_%,germans_without_migration_background_in_%,population_development_(5-year_comparison),households,single-person_households_in_%,families_with_children_in_%,pupils_at_general_education_schools,proportion_of_students_transferring_to_gymnasium,employment_density,unemployment_density,social_benefits,attendance_rate_of_children_aged_0_to_under_3_years_in_day_care_centers,attendance_rate_of_children_aged_3_to_under_6_in_daycare_facilities
0,Altstadt,4255,42.4,11.891892,72.502938,15.605170,36.451234,23.454759,40.094007,8.077216,2723,64.083731,12.302607,0,0.0,59.6,5.8,121.0,64.035088,63.302752
1,Innenstadt,6550,41.4,8.870229,76.870229,14.259542,45.541985,19.267176,35.190840,-4.754980,4491,69.338677,8.082832,720,67.2,62.4,5.1,144.7,65.853659,128.225806
2,Bahnhofsviertel,3703,37.7,8.209560,84.904132,6.886308,49.986497,14.474750,35.538752,-5.390904,2530,70.355731,7.114625,328,41.4,60.7,7.0,207.1,108.695652,55.882353
3,Westend-SÃ¼d,19318,40.3,15.824620,69.650067,14.525313,27.290610,19.846775,52.862615,8.430624,11500,58.686957,16.713043,3938,88.3,60.4,1.6,29.0,103.566334,193.278689
4,Westend-Nord,10330,39.1,16.379477,69.060987,14.559535,28.789932,24.646660,46.563408,4.396160,5881,54.939636,17.377997,2408,87.4,55.8,2.5,78.5,31.609195,105.937500

In [124]:
city_df = city_df.drop(columns = ['attendance_rate_of_children_aged_0_to_under_3_years_in_day_care_centers', 'attendance_rate_of_children_aged_3_to_under_6_in_daycare_facilities'])

<a id='income_frankfurt'></a>
# Dataset: income in each neighbourd (2013)
I did not find more recent information about the income in each neighbourhood.

I will assume that the overal picture of income distribution across the city has not changed.

In [125]:
income = pd.read_excel('27Arbeitsentgelte 2013.xlsx')
income.head()

,Stadtteil,Insgesamt,bis 1 000 â¬,Ã¼ber 1 000 bis 3 000 â¬,Ã¼ber 3 000 bis 5 000 â¬,Ã¼ber 5 000 â¬,Median in â¬
0,1 Altstadt,1070,23,375,392,280,3641
1,2 Innenstadt,1929,175,776,556,422,3039
2,3/10 Bahnhofsviertel (1),2741,100,1040,779,822,3492
3,4 Westend-SÃ¼d,5420,94,712,1426,3188,5566
4,5 Westend-Nord,2400,56,530,722,1092,4736

In [126]:
cols = income.columns
cols

Index(['Stadtteil', 'Insgesamt', 'bis 1 000 â¬', 'Ã¼ber 1 000 bis 3 000 â¬',
       'Ã¼ber 3 000 bis 5 000 â¬', 'Ã¼ber 5 000 â¬', 'Median in â¬'],
      dtype='object')

In [127]:
income = income.rename(columns={'Stadtteil':'neighbourhood', 'Insgesamt':'total_households', 'bis 1 000 â¬':'until_1000â¬' , 'Ã¼ber 1 000 bis 3 000 â¬':'over_1000_until_3000â¬',
       'Ã¼ber 3 000 bis 5 000 â¬':'over_3000_until_5000â¬', 'Ã¼ber 5 000 â¬':'over_5000â¬', 'Median in â¬':'median_income_â¬'})
income.head()

,neighbourhood,total_households,until_1000â¬,over_1000_until_3000â¬,over_3000_until_5000â¬,over_5000â¬,median_income_â¬
0,1 Altstadt,1070,23,375,392,280,3641
1,2 Innenstadt,1929,175,776,556,422,3039
2,3/10 Bahnhofsviertel (1),2741,100,1040,779,822,3492
3,4 Westend-SÃ¼d,5420,94,712,1426,3188,5566
4,5 Westend-Nord,2400,56,530,722,1092,4736

In [128]:
#Cleaning the neighbourhood names to have the same as in the city_df
income['neighbourhood'].unique()

array(['1 Altstadt', '2 Innenstadt', '3/10 Bahnhofsviertel (1)',
       '4 Westend-SÃ¼d', '5 Westend-Nord', '6 Nordend-West',
       '7 Nordend-Ost', '8 Ostend', '9 Bornheim', '11 Gallus',
       '12 Bockenheim', '13 Sachsenhausen-Nord',
       '14/15 Sachsenhausen-SÃ¼d (2)', '16 Oberrad', '17 Niederrad',
       '18 Schwanheim', '19 Griesheim', '20 RÃ¶delheim', '21 Hausen',
       '22 Praunheim', '24 Heddernheim', '25 Niederursel', '26 Ginnheim',
       '27 Dornbusch', '28 Eschersheim', '29 Eckenheim',
       '30 Preungesheim', '31 Bonames', '32/47 Berkersheim (3)',
       '33 Riederwald', '34 Seckbach', '35 Fechenheim', '36 HÃ¶chst',
       '37 Nied', '38 Sindlingen', '39 Zeilsheim', '40 Unterliederbach',
       '41 Sossenheim', '42 Nieder-Erlenbach', '43 Kalbach-Riedberg',
       '44 Harheim', '45 Nieder-Eschbach', '46 Bergen-Enkheim',
       'nicht zuordenbar', 'Stadt insgesamt'], dtype=object)

In [129]:
income.dtypes

neighbourhood            object
total_households          int64
until_1000â¬               int64
over_1000_until_3000â¬     int64
over_3000_until_5000â¬     int64
over_5000â¬                int64
median_income_â¬           int64
dtype: object

In [130]:
income['neighbourhood']= income['neighbourhood'].str.replace('nicht zuordenbar', 'Other')
income['neighbourhood']= income['neighbourhood'].str.replace(r'[0-9|\b \b|()|/]', '')
income['neighbourhood']= income['neighbourhood'].str.replace('Stadtinsgesamt', 'Frankfurt am Main')


income['neighbourhood'].unique()

C:\Users\luana\AppData\Local\Temp\ipykernel_8624\967843829.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  income['neighbourhood']= income['neighbourhood'].str.replace(r'[0-9|\b \b|()|/]', '')

array(['Altstadt', 'Innenstadt', 'Bahnhofsviertel', 'Westend-SÃ¼d',
       'Westend-Nord', 'Nordend-West', 'Nordend-Ost', 'Ostend',
       'Bornheim', 'Gallus', 'Bockenheim', 'Sachsenhausen-Nord',
       'Sachsenhausen-SÃ¼d', 'Oberrad', 'Niederrad', 'Schwanheim',
       'Griesheim', 'RÃ¶delheim', 'Hausen', 'Praunheim', 'Heddernheim',
       'Niederursel', 'Ginnheim', 'Dornbusch', 'Eschersheim', 'Eckenheim',
       'Preungesheim', 'Bonames', 'Berkersheim', 'Riederwald', 'Seckbach',
       'Fechenheim', 'HÃ¶chst', 'Nied', 'Sindlingen', 'Zeilsheim',
       'Unterliederbach', 'Sossenheim', 'Nieder-Erlenbach',
       'Kalbach-Riedberg', 'Harheim', 'Nieder-Eschbach', 'Bergen-Enkheim',
       'Other', 'Frankfurt am Main'], dtype=object)

### Merging both city datasets

In [131]:
#Check if the second dataset has a match for every neighbourhood in the first dataset

In [132]:
n_1 = city_df['neighbourhood']
n_2 = income['neighbourhood'].tolist()

for i in n_1.index:    
    if n_1[i] in n_2:
        pass
    else:
        print (n_1[i])
        print ('no match')

Gutleutviertel
no match
Sachsenhausen-SÃ¼d und Flughafen
no match
Frankfurter Berg
no match

In [133]:
# correcting one name
city_df['neighbourhood']= city_df['neighbourhood'].str.replace('Sachsenhausen-SÃ¼d und Flughafen', 'Sachsenhausen-SÃ¼d')
city_df.head(50)

,neighbourhood,inhabitants,average_age,inhabitants_up_to_17_years_in_%.,inhabitants_from_18_to_64_years_in_%.,inhabitants_from_65_years_in_%,foreigners_in_%,germans_with_migration_background_in_%,germans_without_migration_background_in_%,population_development_(5-year_comparison),households,single-person_households_in_%,families_with_children_in_%,pupils_at_general_education_schools,proportion_of_students_transferring_to_gymnasium,employment_density,unemployment_density,social_benefits
0,Altstadt,4255,42.4,11.891892,72.502938,15.605170,36.451234,23.454759,40.094007,8.077216,2723,64.083731,12.302607,0,0.0,59.6,5.8,121.0
1,Innenstadt,6550,41.4,8.870229,76.870229,14.259542,45.541985,19.267176,35.190840,-4.754980,4491,69.338677,8.082832,720,67.2,62.4,5.1,144.7
2,Bahnhofsviertel,3703,37.7,8.209560,84.904132,6.886308,49.986497,14.474750,35.538752,-5.390904,2530,70.355731,7.114625,328,41.4,60.7,7.0,207.1
3,Westend-SÃ¼d,19318,40.3,15.824620,69.650067,14.525313,27.290610,19.846775,52.862615,8.430624,11500,58.686957,16.713043,3938,88.3,60.4,1.6,29.0
4,Westend-Nord,10330,39.1,16.379477,69.060987,14.559535,28.789932,24.646660,46.563408,4.396160,5881,54.939636,17.377997,2408,87.4,55.8,2.5,78.5
5,Nordend-West,30975,40.6,14.640839,71.212268,14.146893,21.352704,18.673123,59.974173,2.261472,18663,59.861759,15.608423,4071,74.5,63.7,2.3,47.5
6,Nordend-Ost,23135,41.2,13.032202,72.854982,14.112816,22.260644,18.517398,59.221958,0.670119,14700,63.843537,13.931973,1164,54.2,64.6,2.8,72.9
7,Ostend,29704,41.9,12.782790,71.677215,15.539995,28.534877,21.535820,49.929302,7.029871,18157,60.549650,13.697197,4116,69.4,64.0,3.6,95.0
8,Bornheim,30761,43.0,14.069764,68.066708,17.863528,23.776860,22.232697,53.990442,1.648933,18862,62.268052,14.982505,1189,49.7,63.4,3.5,106.3
9,Gutleutviertel,6786,41.5,10.727969,75.213675,14.058355,42.381373,18.464486,39.154141,-2.401841,4312,65.051020,10.111317,185,0.0,60.5,8.1,188.0
10,Gallus,42012,36.9,16.571456,74.028849,9.399695,40.636009,26.175855,33.188137,15.853625,23177,53.846486,18.371662,2505,44.6,62.3,4.3,150.1
11,Bockenheim,42140,38.6,15.569530,72.781206,11.649264,33.151400,22.289986,44.558614,10.086470,24353,56.929331,16.991746,3578,59.4,62.1,3.2,104.2
12,Sachsenhausen-Nord,32824,40.5,15.382038,70.686083,13.931879,24.549110,21.085182,54.365708,3.187677,19212,57.890902,16.817614,5526,68.2,63.3,2.8,83.3
13,Sachsenhausen-SÃ¼d,29163,43.7,14.466962,65.322498,20.210541,24.270480,20.916915,54.812605,7.947142,16698,54.755060,16.199545,429,77.3,61.3,2.4,63.7
14,Oberrad,13648,42.7,15.438159,66.427315,18.134525,33.733880,24.267292,41.998828,4.127565,7582,54.484305,16.855711,399,41.6,59.0,7.4,165.2
15,Niederrad,27043,39.9,14.987243,70.273268,14.739489,36.242281,23.592057,40.165662,11.729466,15182,54.143064,16.565670,1726,50.3,62.8,5.6,127.6
16,Schwanheim,20576,43.0,18.861781,61.056571,20.081649,24.616058,28.975505,46.408437,-0.194024,9976,44.466720,22.072975,1915,36.9,57.6,7.1,151.2
17,Griesheim,23569,40.4,17.298146,68.407654,14.294200,42.292842,27.497985,30.209173,-0.962266,12211,52.002293,18.737204,1374,27.7,62.4,7.5,167.4
18,RÃ¶delheim,19253,40.9,16.968784,67.184335,15.846881,33.729808,22.038124,44.232068,6.546763,10441,53.069629,18.647639,1304,31.4,61.7,6.1,135.4
19,Hausen,7349,41.3,18.124915,63.777385,18.097700,34.576133,28.616138,36.807729,-0.447033,3760,47.340426,20.159574,315,58.7,52.8,5.8,122.7
20,Praunheim,16729,43.1,18.560583,60.798613,20.640803,28.106880,26.726045,45.167075,4.094331,8509,47.667176,21.212833,2868,71.2,56.6,6.0,129.2
21,Heddernheim,17073,42.6,18.157324,63.328062,18.514614,25.057108,28.389855,46.553037,-0.338568,8755,47.732724,21.073672,1130,34.6,57.0,5.7,152.3
22,Niederursel,16611,42.1,18.975378,62.013124,19.011498,29.847691,30.245018,39.907290,5.486759,8206,45.673897,22.532293,2517,32.0,53.7,5.8,149.2
23,Ginnheim,16826,41.4,18.162368,65.262094,16.575538,26.054915,31.308689,42.636396,1.014588,8427,47.834342,21.526047,377,56.6,56.8,5.8,139.2
24,Dornbusch,18715,43.9,15.778787,63.232701,20.988512,22.249532,23.964734,53.785733,1.386857,10546,55.025602,17.276693,3826,68.4,59.5,3.6,75.4
25,Eschersheim,15323,42.5,16.334921,65.731254,17.933825,21.829929,21.712458,56.457613,2.522414,8521,54.488910,17.955639,2548,56.0,59.8,4.4,83.5
26,Eckenheim,14405,42.4,16.653940,65.005207,18.340854,29.878514,29.170427,40.951059,-0.586611,7874,53.721107,18.237236,612,27.9,56.3,6.5,170.2
27,Preungesheim,15775,40.0,20.690967,65.331220,13.977813,28.405705,28.805071,42.789223,4.497880,7646,45.997907,25.372744,944,44.2,58.5,5.0,118.8
28,Bonames,6450,43.3,17.364341,63.178295,19.457364,28.728682,30.449612,40.821705,1.783178,3288,47.019465,19.464720,311,45.3,56.7,6.6,167.8
29,Berkersheim,3881,40.2,22.829168,61.504767,15.666065,21.205875,29.708838,49.085287,1.596859,1678,37.723480,28.963051,236,63.6,53.5,5.3,139.1
30,Riederwald,5000,42.3,18.820000,63.020000,18.160000,29.020000,27.020000,43.960000,7.991361,2728,54.178886,20.234604,0,0.0,58.0,8.3,211.6
31,Seckbach,10473,44.0,17.148859,62.007066,20.844075,29.237086,20.423947,50.338967,-0.285633,5523,50.570342,18.848452,1068,55.9,58.5,6.7,145.5
32,Fechenheim,17843,39.8,19.699602,65.902595,14.397803,44.006053,26.514600,29.479348,4.792389,8920,49.473094,21.928251,2388,35.0,54.0,9.6,222.6
33,HÃ¶chst,16103,38.0,19.232441,69.881389,10.886170,41.526424,26.647209,31.826368,3.682957,8174,50.318082,21.641791,4975,42.7,57.7,8.5,197.8
34,Nied,19785,41.6,17.710387,65.544604,16.745009,37.836745,27.404599,34.758656,1.995051,10009,47.637127,20.751324,932,39.2,57.1,7.4,169.4
35,Sindlingen,9095,41.2,18.735569,64.398021,16.866410,33.512919,27.509621,38.977460,-1.611856,4654,50.300817,20.691878,522,28.8,59.2,7.3,166.8
36,Zeilsheim,12515,41.1,21.358370,60.799041,17.842589,31.250499,27.582901,41.166600,1.336032,5923,42.849907,25.122404,573,37.3,57.6,7.6,170.4
37,Unterliederbach,17151,39.6,20.809282,64.416069,14.774649,32.820244,28.517288,38.662469,6.257357,8207,44.717924,24.625320,1096,42.6,58.7,6.7,146.6
38,Sossenheim,16175,40.7,19.536321,64.074189,16.389490,37.125193,30.268934,32.605873,0.006183,7890,46.058302,22.446134,826,31.5,56.2,8.6,212.7
39,Nieder-Erlenbach,4686,44.3,19.035425,60.883483,20.081093,13.764405,15.578318,70.657277,0.644330,2229,39.569314,23.956931,207,77.8,59.9,3.0,58.5
40,Kalbach-Riedberg,22170,35.7,26.147948,64.799278,9.052774,23.635544,29.801534,46.562923,34.136012,9028,29.198051,38.336287,3062,79.5,58.0,2.7,42.0
41,Harheim,5294,41.0,22.062713,61.220249,16.717038,16.150359,15.772573,68.077068,11.711332,2376,37.121212,28.619529,245,57.9,61.8,2.8,58.6
42,Nieder-Eschbach,11462,43.1,17.998604,62.214273,19.787123,23.957425,30.797418,45.245158,-0.581143,5651,45.248629,20.810476,1685,47.5,56.4,5.4,148.5
43,Bergen-Enkheim,17988,44.8,16.483211,61.624416,21.892373,20.102290,20.358016,59.539693,0.418690,9248,46.128893,19.744810,1913,64.2,59.7,4.4,75.1
44,Frankfurter Berg,8225,40.7,20.571429,64.838906,14.589666,27.343465,31.671733,40.984802,0.969801,3625,37.517241,26.565517,482,49.1,56.5,5.5,138.5
45,Frankfurt am Main,758847,41.0,16.884168,67.380513,15.735320,29.977848,24.583875,45.438277,4.742811,412046,53.029031,18.759313,72533,54.2,60.1,5.6,123.0

In [134]:
# Check the other way around to see if I can find a match for the two others missing

n_1 = city_df['neighbourhood'].tolist()
n_2 = income['neighbourhood']

for i in n_2.index:    
    if n_2[i] in n_1:
        pass
    else:
        print (n_2[i])
        print ('no match')

Other
no match

In [135]:
# Did not find, so I will join the two dataframes and deal with the missing data 

city = city_df.merge(income, on='neighbourhood', how='left')
city

,neighbourhood,inhabitants,average_age,inhabitants_up_to_17_years_in_%.,inhabitants_from_18_to_64_years_in_%.,inhabitants_from_65_years_in_%,foreigners_in_%,germans_with_migration_background_in_%,germans_without_migration_background_in_%,population_development_(5-year_comparison),...,proportion_of_students_transferring_to_gymnasium,employment_density,unemployment_density,social_benefits,total_households,until_1000â¬,over_1000_until_3000â¬,over_3000_until_5000â¬,over_5000â¬,median_income_â¬
0,Altstadt,4255,42.4,11.891892,72.502938,15.605170,36.451234,23.454759,40.094007,8.077216,...,0.0,59.6,5.8,121.0,1070.0,23.0,375.0,392.0,280.0,3641.0
1,Innenstadt,6550,41.4,8.870229,76.870229,14.259542,45.541985,19.267176,35.190840,-4.754980,...,67.2,62.4,5.1,144.7,1929.0,175.0,776.0,556.0,422.0,3039.0
2,Bahnhofsviertel,3703,37.7,8.209560,84.904132,6.886308,49.986497,14.474750,35.538752,-5.390904,...,41.4,60.7,7.0,207.1,2741.0,100.0,1040.0,779.0,822.0,3492.0
3,Westend-SÃ¼d,19318,40.3,15.824620,69.650067,14.525313,27.290610,19.846775,52.862615,8.430624,...,88.3,60.4,1.6,29.0,5420.0,94.0,712.0,1426.0,3188.0,5566.0
4,Westend-Nord,10330,39.1,16.379477,69.060987,14.559535,28.789932,24.646660,46.563408,4.396160,...,87.4,55.8,2.5,78.5,2400.0,56.0,530.0,722.0,1092.0,4736.0
5,Nordend-West,30975,40.6,14.640839,71.212268,14.146893,21.352704,18.673123,59.974173,2.261472,...,74.5,63.7,2.3,47.5,8807.0,161.0,1846.0,3056.0,3744.0,4528.0
6,Nordend-Ost,23135,41.2,13.032202,72.854982,14.112816,22.260644,18.517398,59.221958,0.670119,...,54.2,64.6,2.8,72.9,5570.0,83.0,1264.0,2211.0,2012.0,4239.0
7,Ostend,29704,41.9,12.782790,71.677215,15.539995,28.534877,21.535820,49.929302,7.029871,...,69.4,64.0,3.6,95.0,8772.0,171.0,2414.0,3403.0,2784.0,3750.0
8,Bornheim,30761,43.0,14.069764,68.066708,17.863528,23.776860,22.232697,53.990442,1.648933,...,49.7,63.4,3.5,106.3,9653.0,199.0,3170.0,3795.0,2489.0,3691.0
9,Gutleutviertel,6786,41.5,10.727969,75.213675,14.058355,42.381373,18.464486,39.154141,-2.401841,...,0.0,60.5,8.1,188.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Gallus,42012,36.9,16.571456,74.028849,9.399695,40.636009,26.175855,33.188137,15.853625,...,44.6,62.3,4.3,150.1,7972.0,245.0,3592.0,2675.0,1460.0,3073.0
11,Bockenheim,42140,38.6,15.569530,72.781206,11.649264,33.151400,22.289986,44.558614,10.086470,...,59.4,62.1,3.2,104.2,11380.0,236.0,3001.0,4274.0,3869.0,4043.0
12,Sachsenhausen-Nord,32824,40.5,15.382038,70.686083,13.931879,24.549110,21.085182,54.365708,3.187677,...,68.2,63.3,2.8,83.3,9187.0,165.0,2231.0,3096.0,3695.0,4355.0
13,Sachsenhausen-SÃ¼d,29163,43.7,14.466962,65.322498,20.210541,24.270480,20.916915,54.812605,7.947142,...,77.3,61.3,2.4,63.7,6904.0,138.0,1818.0,2377.0,2571.0,4141.0
14,Oberrad,13648,42.7,15.438159,66.427315,18.134525,33.733880,24.267292,41.998828,4.127565,...,41.6,59.0,7.4,165.2,3089.0,83.0,1317.0,1112.0,577.0,3187.0
15,Niederrad,27043,39.9,14.987243,70.273268,14.739489,36.242281,23.592057,40.165662,11.729466,...,50.3,62.8,5.6,127.6,6314.0,156.0,2555.0,2394.0,1209.0,3262.0
16,Schwanheim,20576,43.0,18.861781,61.056571,20.081649,24.616058,28.975505,46.408437,-0.194024,...,36.9,57.6,7.1,151.2,4552.0,101.0,1911.0,1702.0,838.0,3218.0
17,Griesheim,23569,40.4,17.298146,68.407654,14.294200,42.292842,27.497985,30.209173,-0.962266,...,27.7,62.4,7.5,167.4,5636.0,166.0,3229.0,1662.0,579.0,2617.0
18,RÃ¶delheim,19253,40.9,16.968784,67.184335,15.846881,33.729808,22.038124,44.232068,6.546763,...,31.4,61.7,6.1,135.4,4243.0,99.0,1632.0,1544.0,968.0,3399.0
19,Hausen,7349,41.3,18.124915,63.777385,18.097700,34.576133,28.616138,36.807729,-0.447033,...,58.7,52.8,5.8,122.7,1446.0,54.0,519.0,553.0,320.0,3440.0
20,Praunheim,16729,43.1,18.560583,60.798613,20.640803,28.106880,26.726045,45.167075,4.094331,...,71.2,56.6,6.0,129.2,3394.0,84.0,1428.0,1200.0,682.0,3219.0
21,Heddernheim,17073,42.6,18.157324,63.328062,18.514614,25.057108,28.389855,46.553037,-0.338568,...,34.6,57.0,5.7,152.3,3841.0,100.0,1507.0,1452.0,782.0,3324.0
22,Niederursel,16611,42.1,18.975378,62.013124,19.011498,29.847691,30.245018,39.907290,5.486759,...,32.0,53.7,5.8,149.2,3087.0,69.0,1260.0,1129.0,629.0,3278.0
23,Ginnheim,16826,41.4,18.162368,65.262094,16.575538,26.054915,31.308689,42.636396,1.014588,...,56.6,56.8,5.8,139.2,3595.0,75.0,1393.0,1344.0,783.0,3365.0
24,Dornbusch,18715,43.9,15.778787,63.232701,20.988512,22.249532,23.964734,53.785733,1.386857,...,68.4,59.5,3.6,75.4,4326.0,88.0,1370.0,1553.0,1315.0,3772.0
25,Eschersheim,15323,42.5,16.334921,65.731254,17.933825,21.829929,21.712458,56.457613,2.522414,...,56.0,59.8,4.4,83.5,3677.0,68.0,1201.0,1352.0,1056.0,3691.0
26,Eckenheim,14405,42.4,16.653940,65.005207,18.340854,29.878514,29.170427,40.951059,-0.586611,...,27.9,56.3,6.5,170.2,3287.0,89.0,1454.0,1192.0,552.0,3116.0
27,Preungesheim,15775,40.0,20.690967,65.331220,13.977813,28.405705,28.805071,42.789223,4.497880,...,44.2,58.5,5.0,118.8,3436.0,68.0,1301.0,1198.0,869.0,3458.0
28,Bonames,6450,43.3,17.364341,63.178295,19.457364,28.728682,30.449612,40.821705,1.783178,...,45.3,56.7,6.6,167.8,1364.0,27.0,664.0,446.0,227.0,2975.0
29,Berkersheim,3881,40.2,22.829168,61.504767,15.666065,21.205875,29.708838,49.085287,1.596859,...,63.6,53.5,5.3,139.1,2492.0,76.0,931.0,892.0,593.0,3404.0
30,Riederwald,5000,42.3,18.820000,63.020000,18.160000,29.020000,27.020000,43.960000,7.991361,...,0.0,58.0,8.3,211.6,1063.0,27.0,554.0,381.0,101.0,2851.0
31,Seckbach,10473,44.0,17.148859,62.007066,20.844075,29.237086,20.423947,50.338967,-0.285633,...,55.9,58.5,6.7,145.5,2179.0,76.0,906.0,749.0,448.0,3202.0
32,Fechenheim,17843,39.8,19.699602,65.902595,14.397803,44.006053,26.514600,29.479348,4.792389,...,35.0,54.0,9.6,222.6,3072.0,106.0,1707.0,920.0,339.0,2691.0
33,HÃ¶chst,16103,38.0,19.232441,69.881389,10.886170,41.526424,26.647209,31.826368,3.682957,...,42.7,57.7,8.5,197.8,3514.0,93.0,1701.0,1178.0,542.0,2963.0
34,Nied,19785,41.6,17.710387,65.544604,16.745009,37.836745,27.404599,34.758656,1.995051,...,39.2,57.1,7.4,169.4,4239.0,128.0,1887.0,1574.0,650.0,3093.0
35,Sindlingen,9095,41.2,18.735569,64.398021,16.866410,33.512919,27.509621,38.977460,-1.611856,...,28.8,59.2,7.3,166.8,2114.0,43.0,1017.0,816.0,238.0,2996.0
36,Zeilsheim,12515,41.1,21.358370,60.799041,17.842589,31.250499,27.582901,41.166600,1.336032,...,37.3,57.6,7.6,170.4,2636.0,71.0,1135.0,984.0,446.0,3221.0
37,Unterliederbach,17151,39.6,20.809282,64.416069,14.774649,32.820244,28.517288,38.662469,6.257357,...,42.6,58.7,6.7,146.6,3665.0,89.0,1616.0,1317.0,643.0,3135.0
38,Sossenheim,16175,40.7,19.536321,64.074189,16.389490,37.125193,30.268934,32.605873,0.006183,...,31.5,56.2,8.6,212.7,3509.0,90.0,1746.0,1222.0,451.0,2905.0
39,Nieder-Erlenbach,4686,44.3,19.035425,60.883483,20.081093,13.764405,15.578318,70.657277,0.644330,...,77.8,59.9,3.0,58.5,1059.0,18.0,299.0,369.0,373.0,4043.0
40,Kalbach-Riedberg,22170,35.7,26.147948,64.799278,9.052774,23.635544,29.801534,46.562923,34.136012,...,79.5,58.0,2.7,42.0,3562.0,44.0,741.0,1201.0,1576.0,4658.0
41,Harheim,5294,41.0,22.062713,61.220249,16.717038,16.150359,15.772573,68.077068,11.711332,...,57.9,61.8,2.8,58.6,1147.0,17.0,367.0,417.0,346.0,3695.0
42,Nieder-Eschbach,11462,43.1,17.998604,62.214273,19.787123,23.957425,30.797418,45.245158,-0.581143,...,47.5,56.4,5.4,148.5,2540.0,70.0,1025.0,910.0,535.0,3276.0
43,Bergen-Enkheim,17988,44.8,16.483211,61.624416,21.892373,20.102290,20.358016,59.539693,0.418690,...,64.2,59.7,4.4,75.1,4212.0,97.0,1448.0,1541.0,1126.0,3573.0
44,Frankfurter Berg,8225,40.7,20.571429,64.838906,14.589666,27.343465,31.671733,40.984802,0.969801,...,49.1,56.5,5.5,138.5,NaN,NaN,NaN,NaN,NaN,NaN
45,Frankfurt am Main,758847,41.0,16.884168,67.380513,15.735320,29.977848,24.583875,45.438277,4.742811,...,54.2,60.1,5.6,123.0,180591.0,4263.0,63167.0,63943.0,49218.0,3579.0

In [136]:
# I will use the values of income in the row "other" to fill in the NaN in the two neighbourhood not listed

for col in city:
    try:
        city[col] = city[col].fillna(value=income[col][43])
    except KeyError:
        continue

city.head(50)

,neighbourhood,inhabitants,average_age,inhabitants_up_to_17_years_in_%.,inhabitants_from_18_to_64_years_in_%.,inhabitants_from_65_years_in_%,foreigners_in_%,germans_with_migration_background_in_%,germans_without_migration_background_in_%,population_development_(5-year_comparison),...,proportion_of_students_transferring_to_gymnasium,employment_density,unemployment_density,social_benefits,total_households,until_1000â¬,over_1000_until_3000â¬,over_3000_until_5000â¬,over_5000â¬,median_income_â¬
0,Altstadt,4255,42.4,11.891892,72.502938,15.605170,36.451234,23.454759,40.094007,8.077216,...,0.0,59.6,5.8,121.0,1070.0,23.0,375.0,392.0,280.0,3641.0
1,Innenstadt,6550,41.4,8.870229,76.870229,14.259542,45.541985,19.267176,35.190840,-4.754980,...,67.2,62.4,5.1,144.7,1929.0,175.0,776.0,556.0,422.0,3039.0
2,Bahnhofsviertel,3703,37.7,8.209560,84.904132,6.886308,49.986497,14.474750,35.538752,-5.390904,...,41.4,60.7,7.0,207.1,2741.0,100.0,1040.0,779.0,822.0,3492.0
3,Westend-SÃ¼d,19318,40.3,15.824620,69.650067,14.525313,27.290610,19.846775,52.862615,8.430624,...,88.3,60.4,1.6,29.0,5420.0,94.0,712.0,1426.0,3188.0,5566.0
4,Westend-Nord,10330,39.1,16.379477,69.060987,14.559535,28.789932,24.646660,46.563408,4.396160,...,87.4,55.8,2.5,78.5,2400.0,56.0,530.0,722.0,1092.0,4736.0
5,Nordend-West,30975,40.6,14.640839,71.212268,14.146893,21.352704,18.673123,59.974173,2.261472,...,74.5,63.7,2.3,47.5,8807.0,161.0,1846.0,3056.0,3744.0,4528.0
6,Nordend-Ost,23135,41.2,13.032202,72.854982,14.112816,22.260644,18.517398,59.221958,0.670119,...,54.2,64.6,2.8,72.9,5570.0,83.0,1264.0,2211.0,2012.0,4239.0
7,Ostend,29704,41.9,12.782790,71.677215,15.539995,28.534877,21.535820,49.929302,7.029871,...,69.4,64.0,3.6,95.0,8772.0,171.0,2414.0,3403.0,2784.0,3750.0
8,Bornheim,30761,43.0,14.069764,68.066708,17.863528,23.776860,22.232697,53.990442,1.648933,...,49.7,63.4,3.5,106.3,9653.0,199.0,3170.0,3795.0,2489.0,3691.0
9,Gutleutviertel,6786,41.5,10.727969,75.213675,14.058355,42.381373,18.464486,39.154141,-2.401841,...,0.0,60.5,8.1,188.0,2496.0,45.0,577.0,877.0,997.0,4398.0
10,Gallus,42012,36.9,16.571456,74.028849,9.399695,40.636009,26.175855,33.188137,15.853625,...,44.6,62.3,4.3,150.1,7972.0,245.0,3592.0,2675.0,1460.0,3073.0
11,Bockenheim,42140,38.6,15.569530,72.781206,11.649264,33.151400,22.289986,44.558614,10.086470,...,59.4,62.1,3.2,104.2,11380.0,236.0,3001.0,4274.0,3869.0,4043.0
12,Sachsenhausen-Nord,32824,40.5,15.382038,70.686083,13.931879,24.549110,21.085182,54.365708,3.187677,...,68.2,63.3,2.8,83.3,9187.0,165.0,2231.0,3096.0,3695.0,4355.0
13,Sachsenhausen-SÃ¼d,29163,43.7,14.466962,65.322498,20.210541,24.270480,20.916915,54.812605,7.947142,...,77.3,61.3,2.4,63.7,6904.0,138.0,1818.0,2377.0,2571.0,4141.0
14,Oberrad,13648,42.7,15.438159,66.427315,18.134525,33.733880,24.267292,41.998828,4.127565,...,41.6,59.0,7.4,165.2,3089.0,83.0,1317.0,1112.0,577.0,3187.0
15,Niederrad,27043,39.9,14.987243,70.273268,14.739489,36.242281,23.592057,40.165662,11.729466,...,50.3,62.8,5.6,127.6,6314.0,156.0,2555.0,2394.0,1209.0,3262.0
16,Schwanheim,20576,43.0,18.861781,61.056571,20.081649,24.616058,28.975505,46.408437,-0.194024,...,36.9,57.6,7.1,151.2,4552.0,101.0,1911.0,1702.0,838.0,3218.0
17,Griesheim,23569,40.4,17.298146,68.407654,14.294200,42.292842,27.497985,30.209173,-0.962266,...,27.7,62.4,7.5,167.4,5636.0,166.0,3229.0,1662.0,579.0,2617.0
18,RÃ¶delheim,19253,40.9,16.968784,67.184335,15.846881,33.729808,22.038124,44.232068,6.546763,...,31.4,61.7,6.1,135.4,4243.0,99.0,1632.0,1544.0,968.0,3399.0
19,Hausen,7349,41.3,18.124915,63.777385,18.097700,34.576133,28.616138,36.807729,-0.447033,...,58.7,52.8,5.8,122.7,1446.0,54.0,519.0,553.0,320.0,3440.0
20,Praunheim,16729,43.1,18.560583,60.798613,20.640803,28.106880,26.726045,45.167075,4.094331,...,71.2,56.6,6.0,129.2,3394.0,84.0,1428.0,1200.0,682.0,3219.0
21,Heddernheim,17073,42.6,18.157324,63.328062,18.514614,25.057108,28.389855,46.553037,-0.338568,...,34.6,57.0,5.7,152.3,3841.0,100.0,1507.0,1452.0,782.0,3324.0
22,Niederursel,16611,42.1,18.975378,62.013124,19.011498,29.847691,30.245018,39.907290,5.486759,...,32.0,53.7,5.8,149.2,3087.0,69.0,1260.0,1129.0,629.0,3278.0
23,Ginnheim,16826,41.4,18.162368,65.262094,16.575538,26.054915,31.308689,42.636396,1.014588,...,56.6,56.8,5.8,139.2,3595.0,75.0,1393.0,1344.0,783.0,3365.0
24,Dornbusch,18715,43.9,15.778787,63.232701,20.988512,22.249532,23.964734,53.785733,1.386857,...,68.4,59.5,3.6,75.4,4326.0,88.0,1370.0,1553.0,1315.0,3772.0
25,Eschersheim,15323,42.5,16.334921,65.731254,17.933825,21.829929,21.712458,56.457613,2.522414,...,56.0,59.8,4.4,83.5,3677.0,68.0,1201.0,1352.0,1056.0,3691.0
26,Eckenheim,14405,42.4,16.653940,65.005207,18.340854,29.878514,29.170427,40.951059,-0.586611,...,27.9,56.3,6.5,170.2,3287.0,89.0,1454.0,1192.0,552.0,3116.0
27,Preungesheim,15775,40.0,20.690967,65.331220,13.977813,28.405705,28.805071,42.789223,4.497880,...,44.2,58.5,5.0,118.8,3436.0,68.0,1301.0,1198.0,869.0,3458.0
28,Bonames,6450,43.3,17.364341,63.178295,19.457364,28.728682,30.449612,40.821705,1.783178,...,45.3,56.7,6.6,167.8,1364.0,27.0,664.0,446.0,227.0,2975.0
29,Berkersheim,3881,40.2,22.829168,61.504767,15.666065,21.205875,29.708838,49.085287,1.596859,...,63.6,53.5,5.3,139.1,2492.0,76.0,931.0,892.0,593.0,3404.0
30,Riederwald,5000,42.3,18.820000,63.020000,18.160000,29.020000,27.020000,43.960000,7.991361,...,0.0,58.0,8.3,211.6,1063.0,27.0,554.0,381.0,101.0,2851.0
31,Seckbach,10473,44.0,17.148859,62.007066,20.844075,29.237086,20.423947,50.338967,-0.285633,...,55.9,58.5,6.7,145.5,2179.0,76.0,906.0,749.0,448.0,3202.0
32,Fechenheim,17843,39.8,19.699602,65.902595,14.397803,44.006053,26.514600,29.479348,4.792389,...,35.0,54.0,9.6,222.6,3072.0,106.0,1707.0,920.0,339.0,2691.0
33,HÃ¶chst,16103,38.0,19.232441,69.881389,10.886170,41.526424,26.647209,31.826368,3.682957,...,42.7,57.7,8.5,197.8,3514.0,93.0,1701.0,1178.0,542.0,2963.0
34,Nied,19785,41.6,17.710387,65.544604,16.745009,37.836745,27.404599,34.758656,1.995051,...,39.2,57.1,7.4,169.4,4239.0,128.0,1887.0,1574.0,650.0,3093.0
35,Sindlingen,9095,41.2,18.735569,64.398021,16.866410,33.512919,27.509621,38.977460,-1.611856,...,28.8,59.2,7.3,166.8,2114.0,43.0,1017.0,816.0,238.0,2996.0
36,Zeilsheim,12515,41.1,21.358370,60.799041,17.842589,31.250499,27.582901,41.166600,1.336032,...,37.3,57.6,7.6,170.4,2636.0,71.0,1135.0,984.0,446.0,3221.0
37,Unterliederbach,17151,39.6,20.809282,64.416069,14.774649,32.820244,28.517288,38.662469,6.257357,...,42.6,58.7,6.7,146.6,3665.0,89.0,1616.0,1317.0,643.0,3135.0
38,Sossenheim,16175,40.7,19.536321,64.074189,16.389490,37.125193,30.268934,32.605873,0.006183,...,31.5,56.2,8.6,212.7,3509.0,90.0,1746.0,1222.0,451.0,2905.0
39,Nieder-Erlenbach,4686,44.3,19.035425,60.883483,20.081093,13.764405,15.578318,70.657277,0.644330,...,77.8,59.9,3.0,58.5,1059.0,18.0,299.0,369.0,373.0,4043.0
40,Kalbach-Riedberg,22170,35.7,26.147948,64.799278,9.052774,23.635544,29.801534,46.562923,34.136012,...,79.5,58.0,2.7,42.0,3562.0,44.0,741.0,1201.0,1576.0,4658.0
41,Harheim,5294,41.0,22.062713,61.220249,16.717038,16.150359,15.772573,68.077068,11.711332,...,57.9,61.8,2.8,58.6,1147.0,17.0,367.0,417.0,346.0,3695.0
42,Nieder-Eschbach,11462,43.1,17.998604,62.214273,19.787123,23.957425,30.797418,45.245158,-0.581143,...,47.5,56.4,5.4,148.5,2540.0,70.0,1025.0,910.0,535.0,3276.0
43,Bergen-Enkheim,17988,44.8,16.483211,61.624416,21.892373,20.102290,20.358016,59.539693,0.418690,...,64.2,59.7,4.4,75.1,4212.0,97.0,1448.0,1541.0,1126.0,3573.0
44,Frankfurter Berg,8225,40.7,20.571429,64.838906,14.589666,27.343465,31.671733,40.984802,0.969801,...,49.1,56.5,5.5,138.5,2496.0,45.0,577.0,877.0,997.0,4398.0
45,Frankfurt am Main,758847,41.0,16.884168,67.380513,15.735320,29.977848,24.583875,45.438277,4.742811,...,54.2,60.1,5.6,123.0,180591.0,4263.0,63167.0,63943.0,49218.0,3579.0

In [137]:
city.to_csv (r'C:\Users\luana\Ironhack DA\Unit 5\mid_bootcamp_project\city_clean.csv', index = False, header=True)

<a id='income_german_regions'></a>

# Dataset: german salaries by cities (2018)

In [138]:
salary = pd.read_excel('Monthly_income_cities_2018.xlsx')
salary.head()

,Region,Unnamed: 1,Median der erzielten Entgelte (in â¬),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,Insgesamt (Arbeitsort),MÃ¤nner,Frauen,Deutsche,AuslÃ¤nder,15 bis unter \n25 Jahre,25 bis unter \n55 Jahre,55 bis unter \n65 Jahre,ohne Berufs-abschluss,anerkannter\nBerufsabschluss,akademischer\nBerufsabschluss,Insgesamt (Wohnort)
1,Deutschland,NaN,3304.472945,3468.063067,3013.971526,3402.742715,2529.864607,2407.585809,3351.241558,3533.509575,2460.516595,3189.173884,5113.412289,3312.149491
2,"Flensburg, Stadt",1001.0,3102.117251,3273.840708,2799.975524,3199.631016,1884.710526,2127.204545,3102.972527,3516.308824,2018.357143,3120.636519,4585.727273,2842.475309
3,"Kiel, Landeshauptstadt",1002.0,3404.130203,3557.501795,3198.856808,3443.969591,2486.706897,2310.340426,3398.099232,3794.640625,2428.878378,3266.169431,4997.518349,3251.918206
4,"LÃ¼beck, Hansestadt",1003.0,3116.761062,3196.803142,2992.34492,3207.492009,2072.960938,2207.166667,3137.982168,3411.369565,2210.916667,3092.902597,4897.722222,3102.897743

In [139]:
salary = salary.drop(columns='Unnamed: 1')

In [140]:
# fixing the header positions

cols = salary.iloc[0]
salary = salary[1:] #take the data less the header row
salary.columns = cols #set the header row as the df header

salary.head()

,NaN,Insgesamt (Arbeitsort),MÃ¤nner,Frauen,Deutsche,AuslÃ¤nder,15 bis unter \n25 Jahre,25 bis unter \n55 Jahre,55 bis unter \n65 Jahre,ohne Berufs-abschluss,anerkannter\nBerufsabschluss,akademischer\nBerufsabschluss,Insgesamt (Wohnort)
1,Deutschland,3304.472945,3468.063067,3013.971526,3402.742715,2529.864607,2407.585809,3351.241558,3533.509575,2460.516595,3189.173884,5113.412289,3312.149491
2,"Flensburg, Stadt",3102.117251,3273.840708,2799.975524,3199.631016,1884.710526,2127.204545,3102.972527,3516.308824,2018.357143,3120.636519,4585.727273,2842.475309
3,"Kiel, Landeshauptstadt",3404.130203,3557.501795,3198.856808,3443.969591,2486.706897,2310.340426,3398.099232,3794.640625,2428.878378,3266.169431,4997.518349,3251.918206
4,"LÃ¼beck, Hansestadt",3116.761062,3196.803142,2992.34492,3207.492009,2072.960938,2207.166667,3137.982168,3411.369565,2210.916667,3092.902597,4897.722222,3102.897743
5,"NeumÃ¼nster, Stadt",2941.279817,2994.478102,2777.772727,2979.658879,2351.851351,2267.166667,2969.173219,3102.975248,2365.045455,2959.995192,4928.384615,2901.83427

In [141]:
display(salary.columns)

Index([                            nan,        'Insgesamt (Arbeitsort)',
                              'MÃ¤nner',                        'Frauen',
                            'Deutsche',                     'AuslÃ¤nder',
             '15 bis unter \n25 Jahre',       '25 bis unter \n55 Jahre',
             '55 bis unter \n65 Jahre',         'ohne Berufs-abschluss',
        'anerkannter\nBerufsabschluss', 'akademischer\nBerufsabschluss',
                 'Insgesamt (Wohnort)'],
      dtype='object', name=0)

In [142]:
salary = salary.rename(columns={np.nan:'region','Insgesamt (Arbeitsort)':'total_work_region','MÃ¤nner':'men',
                                'Frauen':'women','Deutsche':'germans','AuslÃ¤nder':'foreigners',
                                '15 bis unter \n25 Jahre':'15_to_25_years','25 bis unter \n55 Jahre':'25_to_55_years',
                                '55 bis unter \n65 Jahre':'55_to_65_years',
                                'ohne Berufs-abschluss':'without_professional_qualification',
                                'anerkannter\nBerufsabschluss':'with_professional_qualification',
                                'akademischer\nBerufsabschluss':'with_academic_degree',
                                'Insgesamt (Wohnort)':'total_home_region'})
salary.head()

,region,total_work_region,men,women,germans,foreigners,15_to_25_years,25_to_55_years,55_to_65_years,without_professional_qualification,with_professional_qualification,with_academic_degree,total_home_region
1,Deutschland,3304.472945,3468.063067,3013.971526,3402.742715,2529.864607,2407.585809,3351.241558,3533.509575,2460.516595,3189.173884,5113.412289,3312.149491
2,"Flensburg, Stadt",3102.117251,3273.840708,2799.975524,3199.631016,1884.710526,2127.204545,3102.972527,3516.308824,2018.357143,3120.636519,4585.727273,2842.475309
3,"Kiel, Landeshauptstadt",3404.130203,3557.501795,3198.856808,3443.969591,2486.706897,2310.340426,3398.099232,3794.640625,2428.878378,3266.169431,4997.518349,3251.918206
4,"LÃ¼beck, Hansestadt",3116.761062,3196.803142,2992.34492,3207.492009,2072.960938,2207.166667,3137.982168,3411.369565,2210.916667,3092.902597,4897.722222,3102.897743
5,"NeumÃ¼nster, Stadt",2941.279817,2994.478102,2777.772727,2979.658879,2351.851351,2267.166667,2969.173219,3102.975248,2365.045455,2959.995192,4928.384615,2901.83427

In [143]:
salary.isnull().sum()

0
region                                1
total_work_region                     1
men                                   1
women                                 1
germans                               1
foreigners                            1
15_to_25_years                        1
25_to_55_years                        1
55_to_65_years                        1
without_professional_qualification    1
with_professional_qualification       1
with_academic_degree                  1
total_home_region                     0
dtype: int64

In [144]:
# Since it is just one row, I will simply drop it
salary = salary.dropna()
display(salary.isnull().sum())
salary

0
region                                0
total_work_region                     0
men                                   0
women                                 0
germans                               0
foreigners                            0
15_to_25_years                        0
25_to_55_years                        0
55_to_65_years                        0
without_professional_qualification    0
with_professional_qualification       0
with_academic_degree                  0
total_home_region                     0
dtype: int64

,region,total_work_region,men,women,germans,foreigners,15_to_25_years,25_to_55_years,55_to_65_years,without_professional_qualification,with_professional_qualification,with_academic_degree,total_home_region
1,Deutschland,3304.472945,3468.063067,3013.971526,3402.742715,2529.864607,2407.585809,3351.241558,3533.509575,2460.516595,3189.173884,5113.412289,3312.149491
2,"Flensburg, Stadt",3102.117251,3273.840708,2799.975524,3199.631016,1884.710526,2127.204545,3102.972527,3516.308824,2018.357143,3120.636519,4585.727273,2842.475309
3,"Kiel, Landeshauptstadt",3404.130203,3557.501795,3198.856808,3443.969591,2486.706897,2310.340426,3398.099232,3794.640625,2428.878378,3266.169431,4997.518349,3251.918206
4,"LÃ¼beck, Hansestadt",3116.761062,3196.803142,2992.34492,3207.492009,2072.960938,2207.166667,3137.982168,3411.369565,2210.916667,3092.902597,4897.722222,3102.897743
5,"NeumÃ¼nster, Stadt",2941.279817,2994.478102,2777.772727,2979.658879,2351.851351,2267.166667,2969.173219,3102.975248,2365.045455,2959.995192,4928.384615,2901.83427
...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,Saalfeld-Rudolstadt,2539.889234,2630.534722,2337.476048,2554.563205,1926.425926,2082.396552,2560.303922,2575.270642,2021.928571,2463.151332,4148.714286,2579.601222
399,Saale-Holzland-Kreis,2389.486784,2412.877049,2332.586614,2413.480769,1699.43617,1963.833333,2419.632653,2387.545455,1780.045455,2333.571749,3832.256757,2597.231235
400,Saale-Orla-Kreis,2331.494671,2402.820955,2069.847826,2365.016129,1766.90625,2015.651515,2363.47043,2326.184932,1812.342105,2302.278846,3610.727273,2411.085586
401,Greiz,2325.830189,2380.162162,2184.759259,2344.652047,1910.383721,2032.444444,2342.74359,2347.677419,X,2275.5,3817.435484,2434.25
402,Altenburger Land,2308.423228,2342.551282,2201.028169,2323.580808,1844.048387,1983.608108,2324.571618,2329.898148,2196.522727,2256.75,3761.958333,2431.412162

In [145]:
salary.to_csv(r'C:\Users\luana\Ironhack DA\Unit 5\mid_bootcamp_project\salary_clean.csv', index = False, header=True)

<a id='school_graduates_hessen'></a>

# Datasets: school graduates in Hessen (2020/21)

### Dataset: general schooling

In [146]:
hessen_school = pd.read_excel('Schulentlassene_2021_2022.xlsx')
hessen_school

,Schulentlassene aus allgemeinbildenden Schulen1) in Hessen am Ende des Schuljahres 2020/21\nnach schulischem Abschluss \n,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Schulischer Abschluss,Schulentlassene,NaN,davon waren ... SchÃ¼ler/-innen,NaN,NaN,NaN
1,NaN,NaN,NaN,deutsche,NaN,auslÃ¤ndische,NaN
2,NaN,insgesamt,weiblich,insgesamt,weiblich,insgesamt,weiblich
3,Ohne Hauptschulabschluss,1153,465,681,266,472,199
4,Mit Hauptschulabschluss,8589,3463,6441,2558,2148,905
5,Mit Realschulabschluss,23220,11018,20471,9640,2749,1378
6,Mit allgemeiner Hochschulreife,15623,8762,14813,8294,810,468
7,Mit schulartspez. FÃ¶rderschulabschluss,1847,744,1436,592,411,152
8,Insgesamt,50432,24452,43842,21350,6590,3102
9,________,NaN,NaN,NaN,NaN,NaN,NaN
10,1) Ohne 1 064 SchÃ¼lerinnen und SchÃ¼ler an Schu...,NaN,NaN,NaN,NaN,NaN,NaN
11,"Â© Hessisches Statistisches Landesamt, Wiesbade...",NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
cols_school = hessen_school.iloc[0]
hessen_school = hessen_school[1:] #take the data less the header row
hessen_school.columns = cols_school #set the header row as the df header

hessen_school.head(15)

,Schulischer Abschluss,Schulentlassene,NaN,davon waren ... SchÃ¼ler/-innen,NaN,NaN,NaN
1,NaN,NaN,NaN,deutsche,NaN,auslÃ¤ndische,NaN
2,NaN,insgesamt,weiblich,insgesamt,weiblich,insgesamt,weiblich
3,Ohne Hauptschulabschluss,1153,465,681,266,472,199
4,Mit Hauptschulabschluss,8589,3463,6441,2558,2148,905
5,Mit Realschulabschluss,23220,11018,20471,9640,2749,1378
6,Mit allgemeiner Hochschulreife,15623,8762,14813,8294,810,468
7,Mit schulartspez. FÃ¶rderschulabschluss,1847,744,1436,592,411,152
8,Insgesamt,50432,24452,43842,21350,6590,3102
9,________,NaN,NaN,NaN,NaN,NaN,NaN
10,1) Ohne 1 064 SchÃ¼lerinnen und SchÃ¼ler an Schu...,NaN,NaN,NaN,NaN,NaN,NaN
11,"Â© Hessisches Statistisches Landesamt, Wiesbade...",NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
hessen_school.columns = ['school_degree_german', 'total_graduates', 'female_graduates', 'german_graduates', 'female_german_graduates', 'foreign_graduates', 'foreign_female_graduates']
hessen_school

,school_degree_german,total_graduates,female_graduates,german_graduates,female_german_graduates,foreign_graduates,foreign_female_graduates
1,NaN,NaN,NaN,deutsche,NaN,auslÃ¤ndische,NaN
2,NaN,insgesamt,weiblich,insgesamt,weiblich,insgesamt,weiblich
3,Ohne Hauptschulabschluss,1153,465,681,266,472,199
4,Mit Hauptschulabschluss,8589,3463,6441,2558,2148,905
5,Mit Realschulabschluss,23220,11018,20471,9640,2749,1378
6,Mit allgemeiner Hochschulreife,15623,8762,14813,8294,810,468
7,Mit schulartspez. FÃ¶rderschulabschluss,1847,744,1436,592,411,152
8,Insgesamt,50432,24452,43842,21350,6590,3102
9,________,NaN,NaN,NaN,NaN,NaN,NaN
10,1) Ohne 1 064 SchÃ¼lerinnen und SchÃ¼ler an Schu...,NaN,NaN,NaN,NaN,NaN,NaN
11,"Â© Hessisches Statistisches Landesamt, Wiesbade...",NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
hessen_school = hessen_school[2:8]
hessen_school

,school_degree_german,total_graduates,female_graduates,german_graduates,female_german_graduates,foreign_graduates,foreign_female_graduates
3,Ohne Hauptschulabschluss,1153,465,681,266,472,199
4,Mit Hauptschulabschluss,8589,3463,6441,2558,2148,905
5,Mit Realschulabschluss,23220,11018,20471,9640,2749,1378
6,Mit allgemeiner Hochschulreife,15623,8762,14813,8294,810,468
7,Mit schulartspez. FÃ¶rderschulabschluss,1847,744,1436,592,411,152
8,Insgesamt,50432,24452,43842,21350,6590,3102

In [150]:
hessen_school['school_degre'] = ['No degree', 'Basic secondary school', 'Intermediate secondary school', 'Higher education entrance qualification', 'Special needs education', 'Total']
hessen_school

C:\Users\luana\AppData\Local\Temp\ipykernel_8624\929630982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hessen_school['school_degre'] = ['No degree', 'Basic secondary school', 'Intermediate secondary school', 'Higher education entrance qualification', 'Special needs education', 'Total']

,school_degree_german,total_graduates,female_graduates,german_graduates,female_german_graduates,foreign_graduates,foreign_female_graduates,school_degre
3,Ohne Hauptschulabschluss,1153,465,681,266,472,199,No degree
4,Mit Hauptschulabschluss,8589,3463,6441,2558,2148,905,Basic secondary school
5,Mit Realschulabschluss,23220,11018,20471,9640,2749,1378,Intermediate secondary school
6,Mit allgemeiner Hochschulreife,15623,8762,14813,8294,810,468,Higher education entrance qualification
7,Mit schulartspez. FÃ¶rderschulabschluss,1847,744,1436,592,411,152,Special needs education
8,Insgesamt,50432,24452,43842,21350,6590,3102,Total

In [151]:
hessen_school = hessen_school[['school_degree_german', 'school_degre', 'total_graduates', 'female_graduates',
       'german_graduates', 'female_german_graduates', 'foreign_graduates',
       'foreign_female_graduates']]
hessen_school

,school_degree_german,school_degre,total_graduates,female_graduates,german_graduates,female_german_graduates,foreign_graduates,foreign_female_graduates
3,Ohne Hauptschulabschluss,No degree,1153,465,681,266,472,199
4,Mit Hauptschulabschluss,Basic secondary school,8589,3463,6441,2558,2148,905
5,Mit Realschulabschluss,Intermediate secondary school,23220,11018,20471,9640,2749,1378
6,Mit allgemeiner Hochschulreife,Higher education entrance qualification,15623,8762,14813,8294,810,468
7,Mit schulartspez. FÃ¶rderschulabschluss,Special needs education,1847,744,1436,592,411,152
8,Insgesamt,Total,50432,24452,43842,21350,6590,3102

### Dataset: professional schooling

In [152]:
hessen_professional_school = pd.read_excel('Schulentlassene_2021_2022_Berufschulen.xlsx')
hessen_professional_school

,Schulentlassene aus beruflichen Schulen in Hessen am Ende des Schuljahres 2020/2021\nnach Schulformen und schulischem Abschluss,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Schulform\nâ\nSchulischer Abschluss,Schulentlassene,NaN,davon waren ... SchÃ¼ler/-innen,NaN,NaN,NaN
1,NaN,NaN,NaN,deutsche,NaN,auslÃ¤ndische,NaN
2,NaN,insgesamt,weiblich,insgesamt,weiblich,insgesamt,weiblich
3,Berufsschulen1),33590,13165,27307,10960,6283,2205
4,Berufsfachschulen,8056,4253,6354,3423,1702,830
5,Fachschulen,4097,2352,3800,2123,297,229
6,Fachoberschulen,8372,3984,7317,3505,1055,479
7,Berufliche Gymnasien,4028,2112,3759,1967,269,145
8,Insgesamt,58143,25866,48537,21978,9606,3888
9,Erworbene Qualifikation2),NaN,NaN,NaN,NaN,NaN,NaN
10,Hauptschulabschluss,1718,681,907,369,811,312
11,Mittlerer Abschluss (Realschulabschluss),3485,1643,2540,1187,945,456
12,Fachhochschulreife,9426,4542,8341,4028,1085,514
13,Hochschulreife3),3305,1724,3103,1617,202,107
14,________,NaN,NaN,NaN,NaN,NaN,NaN
15,1) Einschl. Besondere BildungsgÃ¤nge in Vollzei...,NaN,NaN,NaN,NaN,NaN,NaN
16,"Â© Hessisches Statistisches Landesamt, Wiesbade...",NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
cols_professional_school = hessen_professional_school.iloc[0]
hessen_professional_school = hessen_professional_school[1:] 
hessen_professional_school.columns = cols_professional_school

hessen_professional_school.head(15)

,Schulform\nâ\nSchulischer Abschluss,Schulentlassene,NaN,davon waren ... SchÃ¼ler/-innen,NaN,NaN,NaN
1,NaN,NaN,NaN,deutsche,NaN,auslÃ¤ndische,NaN
2,NaN,insgesamt,weiblich,insgesamt,weiblich,insgesamt,weiblich
3,Berufsschulen1),33590,13165,27307,10960,6283,2205
4,Berufsfachschulen,8056,4253,6354,3423,1702,830
5,Fachschulen,4097,2352,3800,2123,297,229
6,Fachoberschulen,8372,3984,7317,3505,1055,479
7,Berufliche Gymnasien,4028,2112,3759,1967,269,145
8,Insgesamt,58143,25866,48537,21978,9606,3888
9,Erworbene Qualifikation2),NaN,NaN,NaN,NaN,NaN,NaN
10,Hauptschulabschluss,1718,681,907,369,811,312
11,Mittlerer Abschluss (Realschulabschluss),3485,1643,2540,1187,945,456
12,Fachhochschulreife,9426,4542,8341,4028,1085,514
13,Hochschulreife3),3305,1724,3103,1617,202,107
14,________,NaN,NaN,NaN,NaN,NaN,NaN
15,1) Einschl. Besondere BildungsgÃ¤nge in Vollzei...,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
# The data in indexes 10-13 is the information that can be joined with the other dataset

hessen_professional_school = hessen_professional_school[9:13] 
hessen_professional_school

,Schulform\nâ\nSchulischer Abschluss,Schulentlassene,NaN,davon waren ... SchÃ¼ler/-innen,NaN,NaN,NaN
10,Hauptschulabschluss,1718,681,907,369,811,312
11,Mittlerer Abschluss (Realschulabschluss),3485,1643,2540,1187,945,456
12,Fachhochschulreife,9426,4542,8341,4028,1085,514
13,Hochschulreife3),3305,1724,3103,1617,202,107

In [155]:
hessen_professional_school.columns = ['school_degree_german', 'total_graduates', 'female_graduates', 'german_graduates', 'female_german_graduates', 'foreign_graduates', 'foreign_female_graduates']
hessen_professional_school

,school_degree_german,total_graduates,female_graduates,german_graduates,female_german_graduates,foreign_graduates,foreign_female_graduates
10,Hauptschulabschluss,1718,681,907,369,811,312
11,Mittlerer Abschluss (Realschulabschluss),3485,1643,2540,1187,945,456
12,Fachhochschulreife,9426,4542,8341,4028,1085,514
13,Hochschulreife3),3305,1724,3103,1617,202,107

In [156]:
# The names need to be standartized to correspond to the other table

# In practice, 'Fachhochschulereife' and 'Hochschulreife' give access to different kinds of universities.
# To facilitate the analysis, I will sum them together.

new_row = hessen_professional_school.loc[12]+hessen_professional_school.loc[13]
new_row.name = 14
hessen_professional_school = hessen_professional_school.append([new_row])
hessen_professional_school['school_degree_german']=['Mit Hauptschulabschluss','Mit Realschulabschluss','Fachhochschulreife','Hochschulreife', 'Fachhochschul- oder Hochschulreife']
hessen_professional_school

C:\Users\luana\AppData\Local\Temp\ipykernel_8624\1148534365.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  hessen_professional_school = hessen_professional_school.append([new_row])

,school_degree_german,total_graduates,female_graduates,german_graduates,female_german_graduates,foreign_graduates,foreign_female_graduates
10,Mit Hauptschulabschluss,1718,681,907,369,811,312
11,Mit Realschulabschluss,3485,1643,2540,1187,945,456
12,Fachhochschulreife,9426,4542,8341,4028,1085,514
13,Hochschulreife,3305,1724,3103,1617,202,107
14,Fachhochschul- oder Hochschulreife,12731,6266,11444,5645,1287,621

In [157]:
# Now I can drop the other two rows and create a sum of all


sum_row = new_row = hessen_professional_school.loc[10]+hessen_professional_school.loc[11]+hessen_professional_school.loc[14]
sum_row.name = 15
hessen_professional_school = hessen_professional_school.append([new_row])
hessen_professional_school['school_degree_german'][15]='Insgesamt'
hessen_professional_school = hessen_professional_school.drop(axis=0, index=[12,13])
hessen_professional_school

C:\Users\luana\AppData\Local\Temp\ipykernel_8624\3799670156.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  hessen_professional_school = hessen_professional_school.append([new_row])

,school_degree_german,total_graduates,female_graduates,german_graduates,female_german_graduates,foreign_graduates,foreign_female_graduates
10,Mit Hauptschulabschluss,1718,681,907,369,811,312
11,Mit Realschulabschluss,3485,1643,2540,1187,945,456
14,Fachhochschul- oder Hochschulreife,12731,6266,11444,5645,1287,621
15,Insgesamt,17934,8590,14891,7201,3043,1389

In [158]:
# Changing also the name in the first table

hessen_school['school_degree_german'][6]='Fachhochschul- oder Hochschulreife'
hessen_school

C:\Users\luana\AppData\Local\Temp\ipykernel_8624\2469307668.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hessen_school['school_degree_german'][6]='Fachhochschul- oder Hochschulreife'

,school_degree_german,school_degre,total_graduates,female_graduates,german_graduates,female_german_graduates,foreign_graduates,foreign_female_graduates
3,Ohne Hauptschulabschluss,No degree,1153,465,681,266,472,199
4,Mit Hauptschulabschluss,Basic secondary school,8589,3463,6441,2558,2148,905
5,Mit Realschulabschluss,Intermediate secondary school,23220,11018,20471,9640,2749,1378
6,Fachhochschul- oder Hochschulreife,Higher education entrance qualification,15623,8762,14813,8294,810,468
7,Mit schulartspez. FÃ¶rderschulabschluss,Special needs education,1847,744,1436,592,411,152
8,Insgesamt,Total,50432,24452,43842,21350,6590,3102

In [159]:
hessen_schools_graduates = pd.concat([hessen_school, hessen_professional_school]).groupby(['school_degree_german']).sum().reset_index()
hessen_schools_graduates

,school_degree_german,school_degre,total_graduates,female_graduates,german_graduates,female_german_graduates,foreign_graduates,foreign_female_graduates
0,Fachhochschul- oder Hochschulreife,Higher education entrance qualification,28354,15028,26257,13939,2097,1089
1,Insgesamt,Total,68366,33042,58733,28551,9633,4491
2,Mit Hauptschulabschluss,Basic secondary school,10307,4144,7348,2927,2959,1217
3,Mit Realschulabschluss,Intermediate secondary school,26705,12661,23011,10827,3694,1834
4,Mit schulartspez. FÃ¶rderschulabschluss,Special needs education,1847,744,1436,592,411,152
5,Ohne Hauptschulabschluss,No degree,1153,465,681,266,472,199

In [160]:
# sorting to follow ordering of schools and facilitate reading

hessen_schools_graduates = hessen_schools_graduates.reindex([5,4,2,3,0,1]).reset_index(drop=True)

In [161]:
# I do not need the information about gender, so I will drop those columns
# I will also create percentage of pupils in each school

hessen_schools_graduates = hessen_schools_graduates.drop(columns=['female_graduates','female_german_graduates','foreign_female_graduates'])
hessen_schools_graduates['total_graduates_%'] = (hessen_schools_graduates['total_graduates']/hessen_schools_graduates['total_graduates'])*100
hessen_schools_graduates['german_graduates_%'] = (hessen_schools_graduates['german_graduates']/hessen_schools_graduates['total_graduates'])*100
hessen_schools_graduates['foreign_graduates_%'] = (hessen_schools_graduates['foreign_graduates']/hessen_schools_graduates['total_graduates'])*100
hessen_schools_graduates

,school_degree_german,school_degre,total_graduates,german_graduates,foreign_graduates,total_graduates_%,german_graduates_%,foreign_graduates_%
0,Ohne Hauptschulabschluss,No degree,1153,681,472,100.0,59.063313,40.936687
1,Mit schulartspez. FÃ¶rderschulabschluss,Special needs education,1847,1436,411,100.0,77.747699,22.252301
2,Mit Hauptschulabschluss,Basic secondary school,10307,7348,2959,100.0,71.291355,28.708645
3,Mit Realschulabschluss,Intermediate secondary school,26705,23011,3694,100.0,86.167384,13.832616
4,Fachhochschul- oder Hochschulreife,Higher education entrance qualification,28354,26257,2097,100.0,92.604218,7.395782
5,Insgesamt,Total,68366,58733,9633,100.0,85.909663,14.090337

In [162]:
hessen_schools_graduates.to_csv (r'C:\Users\luana\Ironhack DA\Unit 5\mid_bootcamp_project\hessen_schools_graduates_clean.csv', index = False, header=True)

<a id='germany_data'></a>
# Datasets: Germany-wide data

### Level of education Germany population

In [163]:
education_level = pd.read_excel('BevÃ¶lkerung_Bildungsstand.xlsx')
education_level

,Bildungsstand\nBevÃ¶lkerung im Alter von 15 Jahren und mehr nach allgemeinen und beruï¿½ichen BildungsabschlÃ¼ssen nach Jahren\nBevÃ¶lkerung nach Bildungsabschluss in Deutschland 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Bildungsabschluss,2011,2012.0,2013,2014,2015,2016,2017,2018,20192.0
1,NaN,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"BevÃ¶lkerung insgesamt 3, 4",100,10010.0,0 10,0 10,0 10,0 10,0 10,0 10,0.0
3,Nach allgemeiner Schulausbildung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Noch in schulischer Ausbildung,3.9,3.8,3.7,3.7,3.6,3.6,3.6,3.6,3.5
5,Haupt-(Volks-)schulabschluss,36.5,35.7,34.7,33.8,32.9,31.4,30.4,29.6,28.6
6,AbschlussÂ der polytechnischenÂ Oberschule,7.1,7.0,7.0,6.9,6.7,6.7,6.6,6.6,6.5
7,MittlererÂ Abschluss,21.8,22.2,22.3,22.7,22.7,22.7,23.1,23.3,23.5
8,Fachhochschul- oder Hochschulreife,26.6,27.2,27.9,28.8,29.5,30.8,31.9,32.5,33.5
9,Ohne Angabe zur Art des Abschlusses,0.2,0.2,0.2,0.2,0.2,0.2,0.1,0.2,0.2
10,Ohne allgemeinen Schulabschluss 5,3.6,3.6,3.8,3.6,3.7,4.0,4.0,4.0,4.0
11,Nach beruï¿½ichem Bildungsabschluss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Lehre/Berufsausbildung Â imÂ dualenÂ System 6,50.5,50.2,50.0,49.3,48.5,47.2,47.5,47.5,46.6
13,Fachschulabschluss 7,6.4,6.5,6.6,7.1,7.6,7.8,7.9,7.9,8.4
14,FachschulabschlussÂ inÂ derÂ ehemaligenÂ DeutscheÂ ...,1.3,1.1,1.0,1.0,1.0,1.0,0.9,0.9,0.9
15,Bachelor,0.8,0.8,1.0,1.3,1.5,1.9,2.2,2.4,2.6
16,Master,0.5,0.5,0.6,0.8,1.0,1.2,1.4,1.6,1.8
17,Diplom 8,12.1,12.6,12.7,12.7,12.7,12.8,12.9,12.8,12.9
18,Promotion,1.1,1.1,1.1,1.1,1.1,1.2,1.2,1.2,1.2
19,Ohne beruï¿½ichen Bildungsabschluss 9,26.7,26.4,26.2,25.8,25.8,26.0,25.6,25.4,25.2
20,darunter nicht in schulischer oder beruï¿½icher ...,17.8,17.4,17.2,16.8,16.8,17.2,16.7,16.5,16.3
21,"1: Ergebnis des Mikrozensus, Personen im Alter...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Stand 25. November 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [164]:
cols_level = education_level.iloc[0]
education_level = education_level[1:] 
education_level.columns = cols_level

education_level.head(25)

,Bildungsabschluss,2011,2012.0,2013,2014,2015,2016,2017,2018,20192.0
1,NaN,%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"BevÃ¶lkerung insgesamt 3, 4",100,10010.0,0 10,0 10,0 10,0 10,0 10,0 10,0.0
3,Nach allgemeiner Schulausbildung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Noch in schulischer Ausbildung,3.9,3.8,3.7,3.7,3.6,3.6,3.6,3.6,3.5
5,Haupt-(Volks-)schulabschluss,36.5,35.7,34.7,33.8,32.9,31.4,30.4,29.6,28.6
6,AbschlussÂ der polytechnischenÂ Oberschule,7.1,7.0,7.0,6.9,6.7,6.7,6.6,6.6,6.5
7,MittlererÂ Abschluss,21.8,22.2,22.3,22.7,22.7,22.7,23.1,23.3,23.5
8,Fachhochschul- oder Hochschulreife,26.6,27.2,27.9,28.8,29.5,30.8,31.9,32.5,33.5
9,Ohne Angabe zur Art des Abschlusses,0.2,0.2,0.2,0.2,0.2,0.2,0.1,0.2,0.2
10,Ohne allgemeinen Schulabschluss 5,3.6,3.6,3.8,3.6,3.7,4.0,4.0,4.0,4.0
11,Nach beruï¿½ichem Bildungsabschluss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Lehre/Berufsausbildung Â imÂ dualenÂ System 6,50.5,50.2,50.0,49.3,48.5,47.2,47.5,47.5,46.6
13,Fachschulabschluss 7,6.4,6.5,6.6,7.1,7.6,7.8,7.9,7.9,8.4
14,FachschulabschlussÂ inÂ derÂ ehemaligenÂ DeutscheÂ ...,1.3,1.1,1.0,1.0,1.0,1.0,0.9,0.9,0.9
15,Bachelor,0.8,0.8,1.0,1.3,1.5,1.9,2.2,2.4,2.6
16,Master,0.5,0.5,0.6,0.8,1.0,1.2,1.4,1.6,1.8
17,Diplom 8,12.1,12.6,12.7,12.7,12.7,12.8,12.9,12.8,12.9
18,Promotion,1.1,1.1,1.1,1.1,1.1,1.2,1.2,1.2,1.2
19,Ohne beruï¿½ichen Bildungsabschluss 9,26.7,26.4,26.2,25.8,25.8,26.0,25.6,25.4,25.2
20,darunter nicht in schulischer oder beruï¿½icher ...,17.8,17.4,17.2,16.8,16.8,17.2,16.7,16.5,16.3
21,"1: Ergebnis des Mikrozensus, Personen im Alter...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Stand 25. November 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
# I will keep only the rows that I need and fix the columns names and values

education_level = education_level[2:19].reset_index(drop=True)
education_level

,Bildungsabschluss,2011,2012.0,2013,2014,2015,2016,2017,2018,20192.0
0,Nach allgemeiner Schulausbildung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Noch in schulischer Ausbildung,3.9,3.8,3.7,3.7,3.6,3.6,3.6,3.6,3.5
2,Haupt-(Volks-)schulabschluss,36.5,35.7,34.7,33.8,32.9,31.4,30.4,29.6,28.6
3,AbschlussÂ der polytechnischenÂ Oberschule,7.1,7.0,7.0,6.9,6.7,6.7,6.6,6.6,6.5
4,MittlererÂ Abschluss,21.8,22.2,22.3,22.7,22.7,22.7,23.1,23.3,23.5
5,Fachhochschul- oder Hochschulreife,26.6,27.2,27.9,28.8,29.5,30.8,31.9,32.5,33.5
6,Ohne Angabe zur Art des Abschlusses,0.2,0.2,0.2,0.2,0.2,0.2,0.1,0.2,0.2
7,Ohne allgemeinen Schulabschluss 5,3.6,3.6,3.8,3.6,3.7,4.0,4.0,4.0,4.0
8,Nach beruï¿½ichem Bildungsabschluss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Lehre/Berufsausbildung Â imÂ dualenÂ System 6,50.5,50.2,50.0,49.3,48.5,47.2,47.5,47.5,46.6
10,Fachschulabschluss 7,6.4,6.5,6.6,7.1,7.6,7.8,7.9,7.9,8.4
11,FachschulabschlussÂ inÂ derÂ ehemaligenÂ DeutscheÂ ...,1.3,1.1,1.0,1.0,1.0,1.0,0.9,0.9,0.9
12,Bachelor,0.8,0.8,1.0,1.3,1.5,1.9,2.2,2.4,2.6
13,Master,0.5,0.5,0.6,0.8,1.0,1.2,1.4,1.6,1.8
14,Diplom 8,12.1,12.6,12.7,12.7,12.7,12.8,12.9,12.8,12.9
15,Promotion,1.1,1.1,1.1,1.1,1.1,1.2,1.2,1.2,1.2
16,Ohne beruï¿½ichen Bildungsabschluss 9,26.7,26.4,26.2,25.8,25.8,26.0,25.6,25.4,25.2

In [166]:
#fixing columns names
education_level.columns = ['degree_name_german','2011(%)','2012(%)','2013(%)','2014(%)','2015(%)','2016(%)','2017(%)','2018(%)','2019(%)']
education_level.head()

,degree_name_german,2011(%),2012(%),2013(%),2014(%),2015(%),2016(%),2017(%),2018(%),2019(%)
0,Nach allgemeiner Schulausbildung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Noch in schulischer Ausbildung,3.9,3.8,3.7,3.7,3.6,3.6,3.6,3.6,3.5
2,Haupt-(Volks-)schulabschluss,36.5,35.7,34.7,33.8,32.9,31.4,30.4,29.6,28.6
3,AbschlussÂ der polytechnischenÂ Oberschule,7.1,7.0,7.0,6.9,6.7,6.7,6.6,6.6,6.5
4,MittlererÂ Abschluss,21.8,22.2,22.3,22.7,22.7,22.7,23.1,23.3,23.5

In [167]:
# The table contains both school and professional degrees, so I will identify those in a new column


education_level['degree_type'] = pd.Series(['School degree' for index in range(8)])
education_level['degree_type'] = education_level['degree_type'].fillna(value='Professional degree')

education_level.head(20)

,degree_name_german,2011(%),2012(%),2013(%),2014(%),2015(%),2016(%),2017(%),2018(%),2019(%),degree_type
0,Nach allgemeiner Schulausbildung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,School degree
1,Noch in schulischer Ausbildung,3.9,3.8,3.7,3.7,3.6,3.6,3.6,3.6,3.5,School degree
2,Haupt-(Volks-)schulabschluss,36.5,35.7,34.7,33.8,32.9,31.4,30.4,29.6,28.6,School degree
3,AbschlussÂ der polytechnischenÂ Oberschule,7.1,7.0,7.0,6.9,6.7,6.7,6.6,6.6,6.5,School degree
4,MittlererÂ Abschluss,21.8,22.2,22.3,22.7,22.7,22.7,23.1,23.3,23.5,School degree
5,Fachhochschul- oder Hochschulreife,26.6,27.2,27.9,28.8,29.5,30.8,31.9,32.5,33.5,School degree
6,Ohne Angabe zur Art des Abschlusses,0.2,0.2,0.2,0.2,0.2,0.2,0.1,0.2,0.2,School degree
7,Ohne allgemeinen Schulabschluss 5,3.6,3.6,3.8,3.6,3.7,4.0,4.0,4.0,4.0,School degree
8,Nach beruï¿½ichem Bildungsabschluss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Professional degree
9,Lehre/Berufsausbildung Â imÂ dualenÂ System 6,50.5,50.2,50.0,49.3,48.5,47.2,47.5,47.5,46.6,Professional degree
10,Fachschulabschluss 7,6.4,6.5,6.6,7.1,7.6,7.8,7.9,7.9,8.4,Professional degree
11,FachschulabschlussÂ inÂ derÂ ehemaligenÂ DeutscheÂ ...,1.3,1.1,1.0,1.0,1.0,1.0,0.9,0.9,0.9,Professional degree
12,Bachelor,0.8,0.8,1.0,1.3,1.5,1.9,2.2,2.4,2.6,Professional degree
13,Master,0.5,0.5,0.6,0.8,1.0,1.2,1.4,1.6,1.8,Professional degree
14,Diplom 8,12.1,12.6,12.7,12.7,12.7,12.8,12.9,12.8,12.9,Professional degree
15,Promotion,1.1,1.1,1.1,1.1,1.1,1.2,1.2,1.2,1.2,Professional degree
16,Ohne beruï¿½ichen Bildungsabschluss 9,26.7,26.4,26.2,25.8,25.8,26.0,25.6,25.4,25.2,Professional degree

In [168]:
# Now I can drop the headers for the sections

education_level = education_level.drop(axis=0, index=[0,8]).reset_index(drop=True)
education_level

,degree_name_german,2011(%),2012(%),2013(%),2014(%),2015(%),2016(%),2017(%),2018(%),2019(%),degree_type
0,Noch in schulischer Ausbildung,3.9,3.8,3.7,3.7,3.6,3.6,3.6,3.6,3.5,School degree
1,Haupt-(Volks-)schulabschluss,36.5,35.7,34.7,33.8,32.9,31.4,30.4,29.6,28.6,School degree
2,AbschlussÂ der polytechnischenÂ Oberschule,7.1,7.0,7.0,6.9,6.7,6.7,6.6,6.6,6.5,School degree
3,MittlererÂ Abschluss,21.8,22.2,22.3,22.7,22.7,22.7,23.1,23.3,23.5,School degree
4,Fachhochschul- oder Hochschulreife,26.6,27.2,27.9,28.8,29.5,30.8,31.9,32.5,33.5,School degree
5,Ohne Angabe zur Art des Abschlusses,0.2,0.2,0.2,0.2,0.2,0.2,0.1,0.2,0.2,School degree
6,Ohne allgemeinen Schulabschluss 5,3.6,3.6,3.8,3.6,3.7,4.0,4.0,4.0,4.0,School degree
7,Lehre/Berufsausbildung Â imÂ dualenÂ System 6,50.5,50.2,50.0,49.3,48.5,47.2,47.5,47.5,46.6,Professional degree
8,Fachschulabschluss 7,6.4,6.5,6.6,7.1,7.6,7.8,7.9,7.9,8.4,Professional degree
9,FachschulabschlussÂ inÂ derÂ ehemaligenÂ DeutscheÂ ...,1.3,1.1,1.0,1.0,1.0,1.0,0.9,0.9,0.9,Professional degree
10,Bachelor,0.8,0.8,1.0,1.3,1.5,1.9,2.2,2.4,2.6,Professional degree
11,Master,0.5,0.5,0.6,0.8,1.0,1.2,1.4,1.6,1.8,Professional degree
12,Diplom 8,12.1,12.6,12.7,12.7,12.7,12.8,12.9,12.8,12.9,Professional degree
13,Promotion,1.1,1.1,1.1,1.1,1.1,1.2,1.2,1.2,1.2,Professional degree
14,Ohne beruï¿½ichen Bildungsabschluss 9,26.7,26.4,26.2,25.8,25.8,26.0,25.6,25.4,25.2,Professional degree

In [169]:
# I will join some categories which I know belong together according to german system
# Sorry for the german language! You will have to trust me on that one

mittl = education_level.loc[2]+education_level.loc[3]
mittl.name = 15
mittl['degree_name_german']='Mittlerer Abschluss'
mittl['degree_type']='School degree'


not_academic = education_level.loc[7]+education_level.loc[8]+education_level.loc[9]
not_academic.name = 16
not_academic['degree_name_german']='Berufsausbildung'
not_academic['degree_type']='Professional degree'

academic = education_level.loc[10]+education_level.loc[11]+education_level.loc[12]+education_level.loc[13]
academic.name = 17
academic['degree_name_german']='Akademische Ausbuildung'
academic['degree_type']='Professional degree'

education_level = education_level.append([mittl, not_academic, academic])
education_level

C:\Users\luana\AppData\Local\Temp\ipykernel_8624\2971505279.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  education_level = education_level.append([mittl, not_academic, academic])

,degree_name_german,2011(%),2012(%),2013(%),2014(%),2015(%),2016(%),2017(%),2018(%),2019(%),degree_type
0,Noch in schulischer Ausbildung,3.9,3.8,3.7,3.7,3.6,3.6,3.6,3.6,3.5,School degree
1,Haupt-(Volks-)schulabschluss,36.5,35.7,34.7,33.8,32.9,31.4,30.4,29.6,28.6,School degree
2,AbschlussÂ der polytechnischenÂ Oberschule,7.1,7.0,7.0,6.9,6.7,6.7,6.6,6.6,6.5,School degree
3,MittlererÂ Abschluss,21.8,22.2,22.3,22.7,22.7,22.7,23.1,23.3,23.5,School degree
4,Fachhochschul- oder Hochschulreife,26.6,27.2,27.9,28.8,29.5,30.8,31.9,32.5,33.5,School degree
5,Ohne Angabe zur Art des Abschlusses,0.2,0.2,0.2,0.2,0.2,0.2,0.1,0.2,0.2,School degree
6,Ohne allgemeinen Schulabschluss 5,3.6,3.6,3.8,3.6,3.7,4.0,4.0,4.0,4.0,School degree
7,Lehre/Berufsausbildung Â imÂ dualenÂ System 6,50.5,50.2,50.0,49.3,48.5,47.2,47.5,47.5,46.6,Professional degree
8,Fachschulabschluss 7,6.4,6.5,6.6,7.1,7.6,7.8,7.9,7.9,8.4,Professional degree
9,FachschulabschlussÂ inÂ derÂ ehemaligenÂ DeutscheÂ ...,1.3,1.1,1.0,1.0,1.0,1.0,0.9,0.9,0.9,Professional degree
10,Bachelor,0.8,0.8,1.0,1.3,1.5,1.9,2.2,2.4,2.6,Professional degree
11,Master,0.5,0.5,0.6,0.8,1.0,1.2,1.4,1.6,1.8,Professional degree
12,Diplom 8,12.1,12.6,12.7,12.7,12.7,12.8,12.9,12.8,12.9,Professional degree
13,Promotion,1.1,1.1,1.1,1.1,1.1,1.2,1.2,1.2,1.2,Professional degree
14,Ohne beruï¿½ichen Bildungsabschluss 9,26.7,26.4,26.2,25.8,25.8,26.0,25.6,25.4,25.2,Professional degree
15,Mittlerer Abschluss,28.9,29.2,29.3,29.6,29.4,29.4,29.7,29.9,30.0,School degree
16,Berufsausbildung,58.2,57.8,57.6,57.4,57.1,56.0,56.3,56.3,55.9,Professional degree
17,Akademische Ausbuildung,14.5,15.0,15.4,15.9,16.3,17.1,17.7,18.0,18.5,Professional degree

In [170]:
# Now I can drop those categories I used to create the joint data

education_level = education_level.drop(axis=0, index=[2,3,7,8,9,10,11,12,13]).reset_index(drop=True)
education_level

,degree_name_german,2011(%),2012(%),2013(%),2014(%),2015(%),2016(%),2017(%),2018(%),2019(%),degree_type
0,Noch in schulischer Ausbildung,3.9,3.8,3.7,3.7,3.6,3.6,3.6,3.6,3.5,School degree
1,Haupt-(Volks-)schulabschluss,36.5,35.7,34.7,33.8,32.9,31.4,30.4,29.6,28.6,School degree
2,Fachhochschul- oder Hochschulreife,26.6,27.2,27.9,28.8,29.5,30.8,31.9,32.5,33.5,School degree
3,Ohne Angabe zur Art des Abschlusses,0.2,0.2,0.2,0.2,0.2,0.2,0.1,0.2,0.2,School degree
4,Ohne allgemeinen Schulabschluss 5,3.6,3.6,3.8,3.6,3.7,4.0,4.0,4.0,4.0,School degree
5,Ohne beruï¿½ichen Bildungsabschluss 9,26.7,26.4,26.2,25.8,25.8,26.0,25.6,25.4,25.2,Professional degree
6,Mittlerer Abschluss,28.9,29.2,29.3,29.6,29.4,29.4,29.7,29.9,30.0,School degree
7,Berufsausbildung,58.2,57.8,57.6,57.4,57.1,56.0,56.3,56.3,55.9,Professional degree
8,Akademische Ausbuildung,14.5,15.0,15.4,15.9,16.3,17.1,17.7,18.0,18.5,Professional degree

In [171]:
# Reorganizing the order
# Translation of degree names

education_level = education_level.reindex([0,1,6,2,3,4,5,7,8]).reset_index(drop=True)
education_level['degree_name'] = ['Still in school', 'Basic secondary school','Intermediate secondary school',
                                  'Higher education entrance qualification','No information', 'No school degree',
                                  'No professional degree', 'Non-academic professional qualification',
                                  'Academic professional qualification']
education_level

,degree_name_german,2011(%),2012(%),2013(%),2014(%),2015(%),2016(%),2017(%),2018(%),2019(%),degree_type,degree_name
0,Noch in schulischer Ausbildung,3.9,3.8,3.7,3.7,3.6,3.6,3.6,3.6,3.5,School degree,Still in school
1,Haupt-(Volks-)schulabschluss,36.5,35.7,34.7,33.8,32.9,31.4,30.4,29.6,28.6,School degree,Basic secondary school
2,Mittlerer Abschluss,28.9,29.2,29.3,29.6,29.4,29.4,29.7,29.9,30.0,School degree,Intermediate secondary school
3,Fachhochschul- oder Hochschulreife,26.6,27.2,27.9,28.8,29.5,30.8,31.9,32.5,33.5,School degree,Higher education entrance qualification
4,Ohne Angabe zur Art des Abschlusses,0.2,0.2,0.2,0.2,0.2,0.2,0.1,0.2,0.2,School degree,No information
5,Ohne allgemeinen Schulabschluss 5,3.6,3.6,3.8,3.6,3.7,4.0,4.0,4.0,4.0,School degree,No school degree
6,Ohne beruï¿½ichen Bildungsabschluss 9,26.7,26.4,26.2,25.8,25.8,26.0,25.6,25.4,25.2,Professional degree,No professional degree
7,Berufsausbildung,58.2,57.8,57.6,57.4,57.1,56.0,56.3,56.3,55.9,Professional degree,Non-academic professional qualification
8,Akademische Ausbuildung,14.5,15.0,15.4,15.9,16.3,17.1,17.7,18.0,18.5,Professional degree,Academic professional qualification

In [172]:
education_level.to_csv (r'C:\Users\luana\Ironhack DA\Unit 5\mid_bootcamp_project\education_level_clean.csv', index = False, header=True)

### Dataset: Education level of parents of university students

Parents educational level defined as:

 - Low: At least one of the parents has no professional qualification at all
 - Medium: Both parents have non-academic professional qualification
 - High: One of the parents has academic qualification
 - Very high: Both parents have academic qualification

In [173]:
parents_education_2016 = pd.read_excel('Soz21_Bund_BildHerk.xlsx')
parents_education_2016

,Unnamed: 0,DSW/DZHW 21. Sozialerhebung: SonderauszÃ¤hlung fÃ¼r deutsche und bildungsinlÃ¤ndische Studierende in der Bundesrepublik Deutschland,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,Bildungsherkunft,NaN,NaN,NaN
1,NaN,NaN,insgesamt,niedrig,mittel,gehoben,hoch
2,NaN,NaN,abs,abs,abs,abs,abs
3,NaN,1. Studienmerkmale,NaN,NaN,NaN,NaN,NaN
4,NaN,;,NaN,NaN,NaN,NaN,NaN
5,NaN,UniversitÃ¤t,35743,3623,10534,9834,9318
6,NaN,Fachhochschule,19256,2402,7446,4519,2676
7,NaN,Summe Studienmerkmale,54999,6026,17980,14353,11994
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Um welche Form des Studiums handelt es sich be...,NaN,NaN,NaN,NaN,NaN
11,NaN,Mehrfachnennungen mÃ¶glich,NaN,NaN,NaN,NaN,NaN
12,NaN,;,NaN,NaN,NaN,NaN,NaN
13,NaN,PrÃ¤senz-Studium,51154,5622,16349,13467,11477
14,NaN,Duales Studium,2561,210,1157,604,326
15,NaN,Berufsbegleitendes Studium,1289,188,474,288,201
16,NaN,Summe Form des Studiums,55004,6020,17980,14359,12005
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Betreiben Sie Ihr Studium in Vollzeit oder in ...,NaN,NaN,NaN,NaN,NaN
19,NaN,;,NaN,NaN,NaN,NaN,NaN
20,NaN,Vollzeit-Studium,50488,5372,16505,13233,11128
21,NaN,Teilzeit-Studium,1373,177,489,306,229
22,NaN,Vollzeit-Studium mit individueller Teilzeitreg...,621,75,195,166,113
23,NaN,Vollzeit-Studium ohne offizielle Teilzeitregelung,2551,397,799,660,531
24,NaN,Summe Voll- oder Teilzeit,55033,6022,17987,14365,12000

In [174]:
# I will keep only the one row that I want to analyse

parents_education_2016 = parents_education_2016.drop(columns='Unnamed: 0')
parents_education_2016.columns = ['parents_education_level', 'total_students', 'low', 'medium', 'high', 'very_high']
parents_education_2016 = parents_education_2016[7:]
parents_education_2016 = parents_education_2016[:1].reset_index(drop=True)
parents_education_2016['parents_education_level'] ='Students'
parents_education_2016['Year'] ='2016'

parents_education_2016

  parents_education_level total_students   low medium   high very_high  Year
0                Students          54999  6026  17980  14353     11994  2016

In [175]:
parents_education_2012 = pd.read_excel('Soz20_Bund_BildHerk.xlsx')
parents_education_2012

C:\Users\luana\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Unnamed: 0,DSW/HIS-HF 20. Sozialerhebung: SonderauszÃ¤hlung fÃ¼r Studierende in der Bundesrepublik Deutschland,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,Bildungsherkunft,NaN,NaN,NaN
1,NaN,NaN,insgesamt,niedrig,mittel,gehoben,hoch
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Studienmerkmale,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Ingenieurwissenschaften,3045,288,1331,805,578
6,NaN,Sprach- und Kulturwissenschaften,2850,230,1109,779,700
7,NaN,"Mathematik, Naturwissenschaften",2970,256,1194,835,649
8,NaN,"Medizin, Gesundheitswissenschaften",884,46,265,243,323
9,NaN,"Rechts-, Wirtschaftswissenschaften",2997,283,1237,841,586
10,NaN,"Sozialwissenschaften, Sozialwesen, Psychologie...",2000,172,857,506,430
11,NaN,Summe Studienmerkmale,14746,1276,5993,4009,3267
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,3. Betreiben Sie Ihr Studium entsprechend der ...,NaN,NaN,NaN,NaN,NaN
15,NaN,Vollzeitstudium,14032,1210,5628,3825,3179
16,NaN,Teilzeitstudium,175,21,75,53,20
17,NaN,Berufsbegleitendes Studium,376,53,165,77,79
18,NaN,Duales Studium,491,33,249,141,61
19,NaN,Fernstudium,0,0,0,0,0
20,NaN,Summe Voll-Teillzeit,15074,1318,6117,4096,3339

In [176]:
parents_education_2012 = parents_education_2012.drop(columns='Unnamed: 0')
parents_education_2012.columns = ['parents_education_level', 'total_students', 'low', 'medium', 'high', 'very_high']
parents_education_2012 = parents_education_2012[11:]
parents_education_2012 = parents_education_2012[:1].reset_index(drop=True)
parents_education_2012['parents_education_level'] ='Students'
parents_education_2012['Year'] ='2012'

parents_education_2012

  parents_education_level total_students   low medium  high very_high  Year
0                Students          14746  1276   5993  4009      3267  2012

In [177]:
parents_education = pd.concat([parents_education_2012,parents_education_2016]).reset_index(drop=True)
parents_education

  parents_education_level total_students   low medium   high very_high  Year
0                Students          14746  1276   5993   4009      3267  2012
1                Students          54999  6026  17980  14353     11994  2016

In [182]:
parents_education['total_students']=parents_education['low']+parents_education['medium']+parents_education['high']+parents_education['very_high']
parents_education['low_%']=parents_education['low']/parents_education['total_students']*100
parents_education['medium_%']=parents_education['medium']/parents_education['total_students']*100
parents_education['high_%']=parents_education['high']/parents_education['total_students']*100
parents_education['very_high_%']=parents_education['very_high']/parents_education['total_students']*100
parents_education

,parents_education_level,total_students,low,medium,high,very_high,Year,low_%,medium_%,high_%,very_high_%
0,Students,14545,1276,5993,4009,3267,2012,8.772774,41.203163,27.562736,22.461327
1,Students,50353,6026,17980,14353,11994,2016,11.967509,35.707902,28.504756,23.819832

In [183]:
parents_education.to_csv (r'C:\Users\luana\Ironhack DA\Unit 5\mid_bootcamp_project\parents_education_level_clean.csv', index = False, header=True)

In [180]:
password = getpass.getpass()
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=password
)
# mycursor = mydb.cursor()
# mycursor.execute("CREATE DATABASE midproject_education_germany")

connection_string = 'mysql+pymysql://root:'+password+'@localhost/midproject_education_germany'
engine = create_engine(connection_string)

Â·Â·Â·Â·Â·Â·Â·Â·

In [184]:
city.to_sql('frankfurt_city', con=engine, if_exists='replace', index=False)

salary.to_sql('salaries', con=engine, if_exists='replace', index=False)

hessen_schools_graduates.to_sql('hessen_school_graduates', con=engine, if_exists='replace', index=False)

education_level.to_sql('population_education', con=engine, if_exists='replace', index=False)

parents_education.to_sql('parents_education', con=engine, if_exists='replace', index=False)

2